scripts/n8n-wf-daily-article.json
{
  "name": "Daily Article Generator (37Design)",
  "active": true,
  "versionId": "1",
  "nodes": [
    {
      "id": "daily-01-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "daily-02-generate",
      "name": "Generate Articles",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 300],
      "parameters": {
        "command": "cd /home/ken/37design-astro-site && git pull origin main -q && ./scripts/research-and-generate.sh \"AI×中小企業\" 2 2>&1"
      }
    },
    {
      "id": "daily-03-deploy",
      "name": "Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 300],
      "parameters": {
        "command": "cd /home/ken/37design-astro-site && bash scripts/deploy.sh main 2>&1 | tail -5"
      }
    },
    {
      "id": "daily-04-log",
      "name": "Notify Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const generateOut = $('Generate Articles').first().json.stdout || '';\nconst deployOut = $('Deploy').first().json.stdout || '';\nconst success = deployOut.includes('Deploy completed');\nconsole.log('=== Daily Article Generator ===');\nconsole.log(generateOut);\nconsole.log(deployOut);\nreturn [{ json: { success, generateOut, deployOut } }];"
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [[{ "node": "Generate Articles", "type": "main", "index": 0 }]]
    },
    "Generate Articles": {
      "main": [[{ "node": "Deploy", "type": "main", "index": 0 }]]
    },
    "Deploy": {
      "main": [[{ "node": "Notify Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
