scripts/n8n-dashboard-api.json
{
  "name": "Dashboard API (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "api-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "37design-dashboard-api",
      "parameters": {
        "path": "37design-dashboard-api",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "api-02-pipeline",
      "name": "Pipeline Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 100],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT count(*) FROM task_queue WHERE status = 'pending') as pending,\n  (SELECT count(*) FROM task_queue WHERE status = 'running') as running,\n  (SELECT count(*) FROM task_queue WHERE status = 'done') as done,\n  (SELECT count(*) FROM task_queue WHERE status = 'failed') as failed,\n  (SELECT count(*) FROM active_task_keys) as active_keys",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "api-03-tasks",
      "name": "Recent Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 250],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, client_id, task_type, status, priority, error_log,\n  created_at, started_at, completed_at,\n  payload->>'slug' as slug,\n  payload->>'target_keyword' as target_keyword,\n  payload->>'title' as title\nFROM task_queue \nORDER BY created_at DESC \nLIMIT 20",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "api-04-limits",
      "name": "Daily Limits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dl.action_category, dl.max_per_day, dl.current_today,\n  c.display_name as client_name\nFROM daily_limits dl\nJOIN clients c ON dl.client_id = c.id\nORDER BY dl.action_category",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "api-05-locks",
      "name": "Active Page Locks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 550],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT page_path, reason, locked_at, lock_until,\n  EXTRACT(EPOCH FROM (lock_until - NOW()))/3600 as hours_remaining\nFROM page_locks\nWHERE lock_until > NOW()\nORDER BY lock_until ASC",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "api-06-abtests",
      "name": "AB Tests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 700],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT page_path, hypothesis, status, winner, \n  started_at, completed_at,\n  EXTRACT(EPOCH FROM (NOW() - started_at))/86400 as days_running\nFROM ab_tests\nORDER BY started_at DESC\nLIMIT 10",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "api-07-kpi",
      "name": "KPI Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 850],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT metric_name, current_value, target_value, gap, trend,\n  updated_at\nFROM kpi_targets\nWHERE client_id = (SELECT id FROM clients WHERE slug = '37design')\nORDER BY metric_name",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "api-08-freshness",
      "name": "Page Freshness",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 1000],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT page_path, page_type, aging_score, needs_refresh, \n  last_refreshed, last_checked\nFROM page_freshness\nWHERE client_id = (SELECT id FROM clients WHERE slug = '37design')\nORDER BY aging_score DESC NULLS LAST\nLIMIT 10",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "api-09-assemble",
      "name": "Assemble Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 550],
      "parameters": {
        "jsCode": "const pipeline = $('Pipeline Status').first().json;\nconst tasks = $('Recent Tasks').all().map(i => i.json);\nconst limits = $('Daily Limits').all().map(i => i.json);\nconst locks = $('Active Page Locks').all().map(i => i.json);\nconst abTests = $('AB Tests').all().map(i => i.json);\nconst kpi = $('KPI Summary').all().map(i => i.json);\nconst freshness = $('Page Freshness').all().map(i => i.json);\n\nreturn [{\n  json: {\n    generated_at: new Date().toISOString(),\n    pipeline: pipeline,\n    recent_tasks: tasks,\n    daily_limits: limits,\n    page_locks: locks,\n    ab_tests: abTests,\n    kpi_targets: kpi,\n    page_freshness: freshness\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Pipeline Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recent Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Daily Limits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Active Page Locks",
            "type": "main",
            "index": 0
          },
          {
            "node": "AB Tests",
            "type": "main",
            "index": 0
          },
          {
            "node": "KPI Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Page Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Status": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recent Tasks": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Limits": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active Page Locks": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AB Tests": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KPI Summary": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Freshness": {
      "main": [
        [
          {
            "node": "Assemble Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}