scripts/n8n-wf02a-rule-diagnosis.json
{
  "name": "WF02a Rule Diagnosis (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "rd-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "path": "37design-rule-diagnosis",
        "httpMethod": "POST",
        "options": {}
      },
      "webhookId": "37design-rule-diagnosis"
    },
    {
      "id": "rd-02-locked-pages",
      "name": "Get Locked Pages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT client_id, page_slug FROM page_locks WHERE lock_until > NOW();",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "rd-03-active-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, site_url, plan FROM clients WHERE active = true;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "rd-04-blog-candidates",
      "name": "Blog Task Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 160],
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Rule: Blog pages needing refresh\nSELECT \n  pf.client_id,\n  'blog_improve' as task_type,\n  'blog' as content_type,\n  2 as priority,\n  pf.page_slug,\n  json_build_object(\n    'page_slug', pf.page_slug,\n    'reason', 'needs_refresh',\n    'freshness_score', pf.freshness_score,\n    'days_since_update', pf.days_since_update\n  ) as payload\nFROM page_freshness pf\nWHERE pf.needs_refresh = true\n  AND pf.content_type = 'blog'\n  AND NOT EXISTS (\n    SELECT 1 FROM page_locks pl\n    WHERE pl.client_id = pf.client_id AND pl.page_slug = pf.page_slug AND pl.lock_until > NOW()\n  )\nLIMIT 10;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "rd-05-lp-candidates",
      "name": "LP Task Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Rule: LP pages needing refresh\nSELECT \n  pf.client_id,\n  'lp_improve' as task_type,\n  'lp' as content_type,\n  2 as priority,\n  pf.page_slug,\n  json_build_object(\n    'page_slug', pf.page_slug,\n    'reason', 'needs_refresh',\n    'freshness_score', pf.freshness_score\n  ) as payload\nFROM page_freshness pf\nWHERE pf.needs_refresh = true\n  AND pf.content_type = 'lp'\n  AND NOT EXISTS (\n    SELECT 1 FROM page_locks pl\n    WHERE pl.client_id = pf.client_id AND pl.page_slug = pf.page_slug AND pl.lock_until > NOW()\n  )\nLIMIT 5;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "rd-06-page-candidates",
      "name": "Page Task Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 440],
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Rule: Static pages needing refresh\nSELECT \n  pf.client_id,\n  'page_improve' as task_type,\n  'page' as content_type,\n  3 as priority,\n  pf.page_slug,\n  json_build_object(\n    'page_slug', pf.page_slug,\n    'reason', 'needs_refresh',\n    'freshness_score', pf.freshness_score\n  ) as payload\nFROM page_freshness pf\nWHERE pf.needs_refresh = true\n  AND pf.content_type = 'page'\n  AND NOT EXISTS (\n    SELECT 1 FROM page_locks pl\n    WHERE pl.client_id = pf.client_id AND pl.page_slug = pf.page_slug AND pl.lock_until > NOW()\n  )\nLIMIT 5;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "rd-07-merge",
      "name": "Merge Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "// Merge all task candidates from blog, LP, and page queries\nconst blogTasks = $('Blog Task Candidates').all();\nconst lpTasks = $('LP Task Candidates').all();\nconst pageTasks = $('Page Task Candidates').all();\n\nconst allCandidates = [...blogTasks, ...lpTasks, ...pageTasks]\n  .map(item => item.json)\n  .sort((a, b) => a.priority - b.priority);\n\nreturn [{ json: { candidates: allCandidates, count: allCandidates.length } }];"
      }
    },
    {
      "id": "rd-08-dedup-keys",
      "name": "Deduplicate (active_task_keys)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT task_key FROM active_task_keys;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "rd-09-filter-limit",
      "name": "Filter & Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "const candidates = $('Merge Candidates').first().json.candidates;\nconst existingKeys = $('Deduplicate (active_task_keys)').all().map(i => i.json.task_key);\n\nconst filtered = candidates.filter(c => {\n  const key = `${c.client_id}:${c.task_type}:${c.page_slug || 'new'}`;\n  return !existingKeys.includes(key);\n});\n\nreturn [{ json: { candidates: filtered, count: filtered.length } }];"
      }
    },
    {
      "id": "rd-10-daily-limits",
      "name": "Check Daily Limits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT client_id, action_category, max_per_day, current_today, \n       (max_per_day - current_today) as remaining\nFROM daily_limits\nWHERE reset_at = CURRENT_DATE;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "rd-11-apply-limits",
      "name": "Apply Limits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "parameters": {
        "jsCode": "const candidates = $('Filter & Limit').first().json.candidates;\nconst limits = $('Check Daily Limits').all().map(i => i.json);\n\nconst limitMap = {};\nlimits.forEach(l => {\n  const key = `${l.client_id}:${l.action_category}`;\n  limitMap[key] = l.remaining;\n});\n\nconst categoryMap = {\n  'blog_generate': 'generate', 'page_generate': 'generate', 'lp_generate': 'generate',\n  'blog_improve': 'improve', 'page_improve': 'improve', 'lp_improve': 'improve',\n  'blog_rewrite': 'improve',\n  'ab_test_create': 'ab_test'\n};\n\nconst counters = {};\nconst approved = candidates.filter(c => {\n  const cat = categoryMap[c.task_type] || 'improve';\n  const key = `${c.client_id}:${cat}`;\n  const remaining = (limitMap[key] || 0) - (counters[key] || 0);\n  if (remaining > 0) {\n    counters[key] = (counters[key] || 0) + 1;\n    return true;\n  }\n  return false;\n});\n\nreturn [{ json: { candidates: approved, count: approved.length } }];"
      }
    },
    {
      "id": "rd-12-trigger-llm",
      "name": "Trigger LLM Diagnosis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/37design-llm-diagnosis",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Locked Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Locked Pages": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Blog Task Candidates",
            "type": "main",
            "index": 0
          },
          {
            "node": "LP Task Candidates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Page Task Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Task Candidates": {
      "main": [
        [
          {
            "node": "Merge Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LP Task Candidates": {
      "main": [
        [
          {
            "node": "Merge Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Task Candidates": {
      "main": [
        [
          {
            "node": "Merge Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Candidates": {
      "main": [
        [
          {
            "node": "Deduplicate (active_task_keys)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate (active_task_keys)": {
      "main": [
        [
          {
            "node": "Filter & Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Limit": {
      "main": [
        [
          {
            "node": "Check Daily Limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily Limits": {
      "main": [
        [
          {
            "node": "Apply Limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Limits": {
      "main": [
        [
          {
            "node": "Trigger LLM Diagnosis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}