scripts/n8n-wf07-improve.json
{
  "name": "WF07 Improve (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "imp-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "37design-improve",
      "parameters": {
        "path": "37design-improve",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "imp-02-get-task",
      "name": "Get Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, client_id, task_type, content_type, priority, payload, task_key\nFROM task_queue\nWHERE id = {{ $json.body.task_id }}\n  AND status = 'running';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-03-heartbeat",
      "name": "Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET heartbeat_at = NOW(), status = 'running'\nWHERE id = {{ $('Get Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-04-parse-payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300],
      "parameters": {
        "jsCode": "const task = $('Get Task').first().json;\nconst payload = typeof task.payload === 'string' ? JSON.parse(task.payload) : task.payload;\nconst pagePath = payload.page_path || '';\nconst slug = pagePath.split('/').pop()?.replace('.astro', '') || 'unknown';\nreturn [{\n  json: {\n    task_id: task.id,\n    client_id: task.client_id,\n    page_path: pagePath,\n    slug: slug,\n    improvement_type: payload.improvement_type || 'minor',\n    target_metrics: payload.target_metrics || {},\n    payload: payload\n  }\n}];"
      }
    },
    {
      "id": "imp-05-get-kpi",
      "name": "Get KPI Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT page_path, period, impressions, clicks, ctr, avg_position,\n       bounce_rate, avg_session_duration, conversions, conversion_rate,\n       collected_at\nFROM kpi_breakdown\nWHERE page_path = '{{ $('Parse Payload').first().json.page_path }}'\nORDER BY collected_at DESC\nLIMIT 10;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-06-get-content",
      "name": "Get Current Content",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1350, 300],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cat ~/37design-astro-site/{{ $('Parse Payload').first().json.page_path }}\""
      }
    },
    {
      "id": "imp-07-root-cause",
      "name": "Root Cause Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300],
      "parameters": {
        "jsCode": "const kpiRows = $('Get KPI Data').first().json;\nconst targets = $('Parse Payload').first().json.target_metrics;\nconst issues = [];\n\n// Use the most recent KPI row\nconst kpi = Array.isArray(kpiRows) ? kpiRows[0] : kpiRows;\n\nif (!kpi) {\n  return [{ json: { issues: ['KPIデータなし - 一般的な改善を実施'], root_causes: [] } }];\n}\n\nconst rootCauses = [];\n\n// CTR analysis\nconst ctr = parseFloat(kpi.ctr) || 0;\nconst targetCtr = parseFloat(targets.ctr) || 3.0;\nif (ctr < targetCtr) {\n  issues.push('CTR低下（現在: ' + ctr.toFixed(2) + '%, 目標: ' + targetCtr + '%） → タイトル/ディスクリプション改善');\n  rootCauses.push('ctr_low');\n}\n\n// Bounce rate analysis\nconst bounceRate = parseFloat(kpi.bounce_rate) || 0;\nconst targetBounce = parseFloat(targets.bounce_rate) || 60;\nif (bounceRate > targetBounce) {\n  issues.push('直帰率悪化（現在: ' + bounceRate.toFixed(1) + '%, 目標: ' + targetBounce + '%以下） → コンテンツ/UX改善');\n  rootCauses.push('bounce_high');\n}\n\n// Conversion analysis\nconst conversions = parseFloat(kpi.conversions) || 0;\nconst targetConversions = parseFloat(targets.conversions) || 1;\nif (conversions < targetConversions) {\n  issues.push('CV低下（現在: ' + conversions + ', 目標: ' + targetConversions + '） → CTA/信頼性改善');\n  rootCauses.push('cv_low');\n}\n\n// Position analysis\nconst avgPosition = parseFloat(kpi.avg_position) || 0;\nconst targetPosition = parseFloat(targets.avg_position) || 10;\nif (avgPosition > targetPosition) {\n  issues.push('順位低下（現在: ' + avgPosition.toFixed(1) + '位, 目標: ' + targetPosition + '位以内） → コンテンツ鮮度/関連性');\n  rootCauses.push('position_low');\n}\n\nif (issues.length === 0) {\n  issues.push('明確なKPI低下なし - 予防的改善を実施');\n}\n\nreturn [{ json: { issues: issues, root_causes: rootCauses, kpi: kpi, targets: targets } }];"
      }
    },
    {
      "id": "imp-08-claude-analysis",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"あなたはWebコンテンツ改善の専門家です。以下のKPIデータと現在のコンテンツを分析し、具体的な改善提案を行ってください。\\n\\n## 検出された問題\\n{{ JSON.stringify($('Root Cause Analysis').first().json.issues) }}\\n\\n## KPIデータ\\n{{ JSON.stringify($('Root Cause Analysis').first().json.kpi) }}\\n\\n## 現在のコンテンツ（先頭3000文字）\\n{{ $('Get Current Content').first().json.stdout?.substring(0, 3000) || 'コンテンツ取得失敗' }}\\n\\n## ルール\\n- 禁止表現: 絶対に, 確実に, 100%, 必ず治る, 副作用なし, 業界No.1, 世界一（根拠なし）\\n- Tailwind CSSを使用\\n- モバイルファースト\\n\\n以下の形式でJSON出力してください:\\n{\\n  \\\"diagnosis\\\": \\\"現状の問題点サマリー\\\",\\n  \\\"recommendations\\\": [\\n    {\\\"area\\\": \\\"改善箇所\\\", \\\"current\\\": \\\"現状\\\", \\\"proposed\\\": \\\"改善案\\\", \\\"expected_impact\\\": \\\"期待効果\\\"}\\n  ],\\n  \\\"priority_order\\\": [\\\"最優先で改善すべき箇所の順序\\\"]\\n}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "imp-09-improvement-plan",
      "name": "Improvement Plan (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"以下の分析結果に基づいて、aiderに渡すための具体的なコード改善指示を作成してください。\\n\\n## 分析結果\\n{{ $('Claude Analysis').first().json.content[0].text }}\\n\\n## 対象ファイル\\n{{ $('Parse Payload').first().json.page_path }}\\n\\n## 現在のコンテンツ\\n{{ $('Get Current Content').first().json.stdout?.substring(0, 3000) || '' }}\\n\\n## ルール\\n- 変更するファイルは最大5つまで\\n- Tailwind CSSでスタイリング\\n- 禁止表現を使用しない\\n- ビルドが通るコードを生成すること\\n- 既存コンポーネントを最大限再利用\\n\\naiderへの指示文（日本語、具体的なコード変更内容を含む）を1つの文字列として出力してください。JSON形式ではなく、プレーンテキストで出力してください。\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "imp-10-git-branch",
      "name": "Git Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2230, 300],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git config user.name '37Design Marketing OS' && git config user.email 'os@37d.jp' && git checkout main && git pull origin main && git checkout -b task-{{ $('Parse Payload').first().json.task_id }}-fix-{{ $('Parse Payload').first().json.slug }}\""
      }
    },
    {
      "id": "imp-11-execute-improvement",
      "name": "Execute Improvement (Aider)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2450, 300],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && /home/ken/.local/bin/aider --yes --no-auto-commits --message '{{ $('Improvement Plan (Claude)').first().json.content[0].text.replace(/'/g, \"'\\\\''\" ).substring(0, 4000) }}' --file {{ $('Parse Payload').first().json.page_path }}\""
      }
    },
    {
      "id": "imp-12-build-check",
      "name": "Build Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2670, 300],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && npm run build 2>&1\""
      }
    },
    {
      "id": "imp-13-build-ok",
      "name": "Build OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2890, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "build-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "imp-14-fix-counter",
      "name": "Fix Iteration Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3110, 440],
      "parameters": {
        "jsCode": "const buildOutput = $('Build Check').first().json.stdout || $('Build Check').first().json.stderr || '';\nconst currentCount = $input.first()?.json?.fix_iteration_count || 0;\nconst newCount = currentCount + 1;\nreturn [{ json: { fix_iteration_count: newCount, max_reached: newCount >= 3, build_error: buildOutput } }];"
      }
    },
    {
      "id": "imp-15-max-check",
      "name": "Max Iterations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3330, 440],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "max-iter-check",
              "leftValue": "={{ $json.max_reached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "imp-16-abort-cleanup",
      "name": "Abort: Delete Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3550, 380],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git checkout main && git branch -D task-{{ $('Parse Payload').first().json.task_id }}-fix-{{ $('Parse Payload').first().json.slug }} 2>/dev/null || true\""
      }
    },
    {
      "id": "imp-16b-slack-notify",
      "name": "Slack: Max Iterations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3660, 300],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":warning: *WF07 Improve: Max fix iterations exceeded*\\nTask: {{ $('Parse Payload').first().json.task_id }}\\nPage: {{ $('Parse Payload').first().json.page_path }}\\nSlug: {{ $('Parse Payload').first().json.slug }}\\nBranch deleted, task set to failed.\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "imp-17-abort-fail-task",
      "name": "Abort: Fail Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3770, 380],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE task_queue\nSET status = 'failed',\n    completed_at = NOW(),\n    error_log = 'max_fix_iterations_exceeded',\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Parse Payload').first().json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-18-fix-build",
      "name": "Fix Build (Aider)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3550, 580],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && /home/ken/.local/bin/aider --yes --no-auto-commits --message 'Fix the following build error:\\n{{ $json.build_error.substring(0, 2000) }}' --file {{ $('Parse Payload').first().json.page_path }}\""
      }
    },
    {
      "id": "imp-19-merge",
      "name": "Merge to Main",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3110, 160],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git add -A && git commit -m 'fix: improve {{ $('Parse Payload').first().json.slug }} based on KPI analysis [task-{{ $('Parse Payload').first().json.task_id }}]' && git checkout main && git merge task-{{ $('Parse Payload').first().json.task_id }}-fix-{{ $('Parse Payload').first().json.slug }} --no-ff -m 'Merge task-{{ $('Parse Payload').first().json.task_id }}-fix-{{ $('Parse Payload').first().json.slug }}'\""
      }
    },
    {
      "id": "imp-20-deploy",
      "name": "Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3330, 160],
      "parameters": {
        "command": "ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && bash deploy.sh 2>&1\""
      }
    },
    {
      "id": "imp-21-update-freshness",
      "name": "Update Freshness",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3550, 160],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE page_freshness\nSET last_refreshed = NOW(),\n    refresh_type = 'improve',\n    task_id = {{ $('Parse Payload').first().json.task_id }}\nWHERE page_path = '{{ $('Parse Payload').first().json.page_path }}';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-22-lock-page",
      "name": "Lock Page",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3770, 160],
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO page_locks (page_path, locked_until, reason, task_id)\nVALUES (\n  '{{ $('Parse Payload').first().json.page_path }}',\n  NOW() + INTERVAL '{{ $('Parse Payload').first().json.improvement_type === \"major\" ? \"14\" : \"7\" }} days',\n  'improve_{{ $('Parse Payload').first().json.improvement_type }}',\n  {{ $('Parse Payload').first().json.task_id }}\n)\nON CONFLICT (page_path)\nDO UPDATE SET\n  locked_until = NOW() + INTERVAL '{{ $('Parse Payload').first().json.improvement_type === \"major\" ? \"14\" : \"7\" }} days',\n  reason = 'improve_{{ $('Parse Payload').first().json.improvement_type }}',\n  task_id = {{ $('Parse Payload').first().json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-23-complete-task",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3990, 160],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Parse Payload').first().json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-24-error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2890, 580],
      "parameters": {
        "jsCode": "// Generic error handler for unexpected failures\nconst taskId = $('Parse Payload').first()?.json?.task_id || 'unknown';\nconst slug = $('Parse Payload').first()?.json?.slug || 'unknown';\nconst errorMsg = $json?.message || $json?.error || 'unexpected_error';\nreturn [{ json: { task_id: taskId, slug: slug, error: errorMsg } }];"
      }
    },
    {
      "id": "imp-25-error-fail-task",
      "name": "Error: Fail Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3110, 580],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE task_queue\nSET status = 'failed',\n    completed_at = NOW(),\n    error_log = '{{ $json.error.substring(0, 500).replace(/'/g, \"''\") }}',\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "imp-26-error-delete-branch",
      "name": "Error: Delete Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3330, 580],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git checkout main && git branch -D task-{{ $json.task_id }}-fix-{{ $json.slug }} 2>/dev/null || true\""
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task": {
      "main": [
        [
          {
            "node": "Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Get KPI Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get KPI Data": {
      "main": [
        [
          {
            "node": "Get Current Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Content": {
      "main": [
        [
          {
            "node": "Root Cause Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Root Cause Analysis": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Improvement Plan (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improvement Plan (Claude)": {
      "main": [
        [
          {
            "node": "Git Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Branch": {
      "main": [
        [
          {
            "node": "Execute Improvement (Aider)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Improvement (Aider)": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check": {
      "main": [
        [
          {
            "node": "Build OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OK?": {
      "main": [
        [
          {
            "node": "Merge to Main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Iteration Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Iteration Counter": {
      "main": [
        [
          {
            "node": "Max Iterations?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Iterations?": {
      "main": [
        [
          {
            "node": "Abort: Delete Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Build (Aider)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abort: Delete Branch": {
      "main": [
        [
          {
            "node": "Slack: Max Iterations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Max Iterations": {
      "main": [
        [
          {
            "node": "Abort: Fail Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Build (Aider)": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge to Main": {
      "main": [
        [
          {
            "node": "Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy": {
      "main": [
        [
          {
            "node": "Update Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Freshness": {
      "main": [
        [
          {
            "node": "Lock Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Page": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error: Fail Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Fail Task": {
      "main": [
        [
          {
            "node": "Error: Delete Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}