scripts/n8n-deploy-workflow.json
{
  "name": "37Design - Deploy Pipeline",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "37design-deploy",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "branch-check",
              "leftValue": "={{ $json.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-filter",
      "name": "Main Branch Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "command": "cd ~/37design-astro-site && bash scripts/deploy.sh main 2>&1 | tail -20"
      },
      "id": "deploy-exec",
      "name": "Run Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [690, 280]
    },
    {
      "parameters": {
        "command": "echo 'Skipped: not main branch'"
      },
      "id": "skip-deploy",
      "name": "Skip (Not Main)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [690, 420]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Main Branch Only", "type": "main", "index": 0 }]
      ]
    },
    "Main Branch Only": {
      "main": [
        [{ "node": "Run Deploy", "type": "main", "index": 0 }],
        [{ "node": "Skip (Not Main)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
