scripts/n8n-wf14-cannibalization-detect.json
{
  "name": "WF14 Cannibalization Detect (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "can-01-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * 3"
            }
          ]
        }
      }
    },
    {
      "id": "can-02-get-clusters",
      "name": "Get Keyword Clusters",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cluster_id, array_agg(page_path) AS pages, keyword\nFROM keyword_clusters\nGROUP BY cluster_id, keyword\nHAVING count(*) >= 2\nORDER BY cluster_id;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "can-03-has-duplicates",
      "name": "Has Duplicates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-duplicates-check",
              "leftValue": "={{ $json.cluster_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "can-04-split-clusters",
      "name": "For Each Cluster",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [780, 340],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "can-05-get-metrics",
      "name": "Get Page Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1040, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT kb.page_path, kb.impressions, kb.clicks, kb.ctr, kb.position,\n       kb.period_start, kb.period_end\nFROM kpi_breakdown kb\nWHERE kb.page_path = ANY(ARRAY{{ $json.pages }})\nORDER BY kb.period_end DESC;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "can-06-analyze",
      "name": "Analyze Cannibalization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 340],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen3:30b-a3b', prompt: 'You are an SEO cannibalization analyst. Analyze the following pages that target the same keyword and determine the best action.\\n\\nKeyword: ' + $('For Each Cluster').item.json.keyword + '\\nPages: ' + JSON.stringify($('For Each Cluster').item.json.pages) + '\\nMetrics: ' + JSON.stringify($json) + '\\n\\nRespond in valid JSON only:\\n{\\n  \"is_cannibalizing\": true/false,\\n  \"primary_page\": \"/path\",\\n  \"actions\": [{\"page\": \"/path\", \"action\": \"merge|redirect|retarget|delete\", \"reason\": \"...\"}],\\n  \"summary\": \"...\"\\n}', stream: false }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "can-07-parse-response",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 340],
      "parameters": {
        "jsCode": "const cluster = $('For Each Cluster').item.json;\nconst raw = $input.first().json.response || '';\nlet analysis;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  analysis = jsonMatch ? JSON.parse(jsonMatch[0]) : { is_cannibalizing: false, summary: 'Parse error' };\n} catch (e) {\n  analysis = { is_cannibalizing: false, summary: 'Failed to parse LLM response: ' + e.message };\n}\n\nconst tasks = [];\nif (analysis.is_cannibalizing && analysis.actions) {\n  for (const action of analysis.actions) {\n    tasks.push({\n      client_id: 'default',\n      task_type: 'improve',\n      content_type: 'page',\n      priority: 3,\n      task_key: 'cannibalization_' + cluster.cluster_id + '_' + action.page.replace(/\\//g, '_'),\n      payload: JSON.stringify({\n        source: 'wf14_cannibalization',\n        cluster_id: cluster.cluster_id,\n        keyword: cluster.keyword,\n        primary_page: analysis.primary_page,\n        target_page: action.page,\n        action: action.action,\n        reason: action.reason,\n        summary: analysis.summary\n      })\n    });\n  }\n}\n\nreturn [{ json: { cluster_id: cluster.cluster_id, keyword: cluster.keyword, analysis, tasks, task_count: tasks.length } }];"
      }
    },
    {
      "id": "can-08-has-tasks",
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1820, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-tasks-check",
              "leftValue": "={{ $json.task_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "can-09-insert-tasks",
      "name": "Insert Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2080, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (function() {\n  const tasks = $json.tasks;\n  if (!tasks || tasks.length === 0) return 'SELECT 1';\n  const values = tasks.map(t =>\n    `('${t.client_id}', '${t.task_type}', '${t.content_type}', ${t.priority}, '${t.task_key}', '${t.payload.replace(/'/g, \"''\")}', 'pending', NOW())`\n  ).join(',\\n');\n  return `INSERT INTO task_queue (client_id, task_type, content_type, priority, task_key, payload, status, created_at)\\nVALUES ${values}\\nON CONFLICT (task_key) DO NOTHING;`;\n})() }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "can-10-back-to-loop",
      "name": "Back to Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2340, 340]
    },
    {
      "id": "can-11-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400],
      "parameters": {
        "jsCode": "const items = $input.all();\nlet totalClusters = 0;\nlet totalTasks = 0;\nconst details = [];\n\nfor (const item of items) {\n  if (item.json.cluster_id) {\n    totalClusters++;\n    totalTasks += item.json.task_count || 0;\n    if (item.json.task_count > 0) {\n      details.push(`- Keyword \"${item.json.keyword}\": ${item.json.task_count} action(s)`);\n    }\n  }\n}\n\nconst summary = totalTasks > 0\n  ? `WF14 Cannibalization Detect: ${totalClusters} cluster(s) analyzed, ${totalTasks} task(s) created.\\n${details.join('\\n')}`\n  : `WF14 Cannibalization Detect: ${totalClusters} cluster(s) analyzed, no cannibalization found.`;\n\nreturn [{ json: { summary, totalClusters, totalTasks } }];"
      }
    },
    {
      "id": "can-12-slack",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.summary }) }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "can-13-no-duplicates",
      "name": "No Duplicates Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 560],
      "parameters": {
        "jsCode": "return [{ json: { message: 'No cannibalization detected. All keywords have unique page targets.' } }];"
      }
    },
    {
      "id": "can-14-no-dup-slack",
      "name": "Slack: No Duplicates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 560],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'WF14 Cannibalization Detect: No duplicate keyword clusters found. All clear.' }) }}",
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Keyword Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Keyword Clusters": {
      "main": [
        [
          {
            "node": "Has Duplicates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Duplicates?": {
      "main": [
        [
          {
            "node": "For Each Cluster",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Duplicates Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Each Cluster": {
      "main": [
        [
          {
            "node": "Get Page Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Metrics": {
      "main": [
        [
          {
            "node": "Analyze Cannibalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Cannibalization": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Has Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tasks?": {
      "main": [
        [
          {
            "node": "Insert Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Back to Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tasks": {
      "main": [
        [
          {
            "node": "Back to Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Back to Loop": {
      "main": [
        [
          {
            "node": "For Each Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Duplicates Found": {
      "main": [
        [
          {
            "node": "Slack: No Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}