scripts/n8n-wf04-blog-generate.json
{
  "name": "WF04 Blog Generate (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "blog-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "37design-blog-generate",
      "parameters": {
        "path": "37design-blog-generate",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "blog-02-get-task",
      "name": "Get Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tq.*, tq.payload::json->>'target_keyword' AS target_keyword,\n       tq.payload::json->>'slug' AS slug,\n       tq.payload::json->>'category' AS category,\n       tq.payload::json->>'target_lp' AS target_lp\nFROM task_queue tq\nWHERE tq.id = {{ $json.body.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-03-heartbeat",
      "name": "Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET heartbeat_at = NOW(), status = 'running'\nWHERE id = {{ $('Get Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-04-cannibalization-check",
      "name": "Cannibalization Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT kc.cluster_name, kc.primary_keyword, ck.keyword, ck.content_path\nFROM keyword_clusters kc\nJOIN content_keywords ck ON ck.cluster_id = kc.id\nWHERE kc.primary_keyword ILIKE '%' || '{{ $('Get Task').first().json.target_keyword }}' || '%'\n   OR ck.keyword ILIKE '%' || '{{ $('Get Task').first().json.target_keyword }}' || '%'\nLIMIT 20;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-05-has-cannibalization",
      "name": "Has Cannibalization?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [920, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cannibalization-check",
              "leftValue": "={{ $json.cluster_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "blog-06-prepare-cannibalization-context",
      "name": "Prepare Cannibalization Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 340],
      "parameters": {
        "jsCode": "const items = $('Cannibalization Check').all();\nconst existing = items.map(i => `- ${i.json.keyword}: ${i.json.content_path}`).join('\\n');\nconst task = $('Get Task').first().json;\nreturn [{ json: { ...task, cannibalization_context: existing || 'なし', has_existing: items.length > 0 } }];"
      }
    },
    {
      "id": "blog-06b-no-cannibalization",
      "name": "No Cannibalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 480],
      "parameters": {
        "jsCode": "const task = $('Get Task').first().json;\nreturn [{ json: { ...task, cannibalization_context: 'なし', has_existing: false } }];"
      }
    },
    {
      "id": "blog-07-merge-context",
      "name": "Merge Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1360, 400],
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      }
    },
    {
      "id": "blog-08-structure-design",
      "name": "Structure Design (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"あなたは37Design（神戸のWeb制作・AI導入支援会社）のSEOコンテンツストラテジストです。\\n\\n以下の条件でブログ記事の構成を設計してください。\\n\\n## ターゲットキーワード\\n{{ $json.target_keyword }}\\n\\n## カテゴリー\\n{{ $json.category }}\\n\\n## 対象LP\\n{{ $json.target_lp }}\\n\\n## 既存コンテンツ（カニバリゼーション注意）\\n{{ $json.cannibalization_context }}\\n\\n## ルール\\n- 導入 → 問題深掘り → 解決策 → LP誘導CTA → まとめ の構成\\n- h2は5〜7個、各h2にh3を2〜3個\\n- 目標文字数: 3000〜5000字\\n- 対象LPへの内部リンクを最低3箇所含める計画\\n- 関連記事との相互リンク計画\\n- 既存コンテンツとの差別化ポイントを明確に\\n\\n## 出力形式（JSON）\\n{\\n  \\\"title\\\": \\\"記事タイトル\\\",\\n  \\\"meta_description\\\": \\\"120〜160字\\\",\\n  \\\"h2_sections\\\": [\\n    {\\n      \\\"h2\\\": \\\"見出し\\\",\\n      \\\"h3_list\\\": [\\\"小見出し1\\\", \\\"小見出し2\\\"],\\n      \\\"key_points\\\": [\\\"要点1\\\", \\\"要点2\\\"]\\n    }\\n  ],\\n  \\\"internal_links\\\": [\\\"/lp/xxx\\\", \\\"/blog/yyy\\\"],\\n  \\\"target_word_count\\\": 3500,\\n  \\\"differentiation\\\": \\\"既存記事との差別化ポイント\\\"\\n}\\n\\nJSONのみ出力してください。\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "blog-09-parse-structure",
      "name": "Parse Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text;\n// Extract JSON from response (handle markdown code blocks)\nconst jsonMatch = text.match(/```json\\n?([\\s\\S]*?)```/) || [null, text];\nconst structure = JSON.parse(jsonMatch[1].trim());\nconst task = $('Get Task').first().json;\nreturn [{ json: { ...task, structure, iteration: 0 } }];"
      }
    },
    {
      "id": "blog-10-generate-content",
      "name": "Generate Content (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2020, 400],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"あなたは37Design（神戸のWeb制作・AI導入支援会社）のブログライターです。以下の構成に従って、Markdown形式のブログ記事を生成してください。\\n\\n## 記事構成\\n{{ JSON.stringify($json.structure) }}\\n\\n## frontmatter（必ずこの形式で冒頭に含めること）\\n---\\ntitle: \\\"{{ $json.structure.title }}\\\"\\ndescription: \\\"{{ $json.structure.meta_description }}\\\"\\npublishDate: {{ new Date().toISOString().split('T')[0] }}\\nauthor: \\\"古田 健\\\"\\ncategory: \\\"{{ $json.category }}\\\"\\ntags: []\\nimage: \\\"/images/blog/{{ $json.slug }}/hero.jpg\\\"\\ntargetKeyword: \\\"{{ $json.target_keyword }}\\\"\\nrelatedArticles: []\\ntargetLP: \\\"{{ $json.target_lp }}\\\"\\nstructuredDataType: \\\"Article\\\"\\n---\\n\\n## ルール\\n- 文字数: 3000〜5000字（本文のみ、frontmatter除く）\\n- h2は5〜7個、各h2にh3を2〜3個\\n- 対象LPへの内部リンク（{{ $json.target_lp }}）を最低3箇所\\n- /blog/ や /services/ への内部リンクも含める\\n- 画像にはalt属性を必ず設定\\n- 禁止表現: 絶対に、確実に、100%、必ず治る、副作用なし、業界No.1、世界一（根拠なし）\\n- 読者目線で分かりやすく、専門用語は解説を添える\\n- CTAはソフトに（「詳しくはこちら」等）\\n\\n記事全文をMarkdown形式で出力してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "blog-11-extract-content",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.response;\nconst task = $('Get Task').first().json;\nconst iteration = $('Parse Structure').first().json.iteration || 0;\nreturn [{ json: { ...task, content, iteration, structure: $('Parse Structure').first().json.structure } }];"
      }
    },
    {
      "id": "blog-12-quality-gate",
      "name": "Quality Gate v0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst content = item.content;\nconst issues = [];\n\n// Split frontmatter and body\nconst parts = content.split('---');\nconst body = parts.length >= 3 ? parts.slice(2).join('---') : content;\n\n// Word count (body only, Japanese character count)\nconst bodyText = body.replace(/[#\\*\\-\\[\\]\\(\\)\\|>]/g, '').replace(/\\s+/g, '');\nconst wordCount = bodyText.length;\nif (wordCount < 3000) {\n  issues.push(`文字数不足: ${wordCount}字 (最低3000字)`);\n}\n\n// h2 count\nconst h2Matches = body.match(/^## /gm) || [];\nif (h2Matches.length < 5) {\n  issues.push(`h2不足: ${h2Matches.length}個 (最低5個)`);\n}\n\n// Internal links\nconst internalLinks = body.match(/\\]\\(\\/(blog|lp|services|service|cases|company|faq|contact)\\//g) || [];\nif (internalLinks.length < 3) {\n  issues.push(`内部リンク不足: ${internalLinks.length}本 (最低3本)`);\n}\n\n// Meta description in frontmatter\nconst frontmatter = parts.length >= 3 ? parts[1] : '';\nif (!frontmatter.includes('description:')) {\n  issues.push('meta description未設定');\n}\n\n// Prohibited expressions\nconst prohibited = ['絶対に', '確実に', '100%', '必ず治る', '副作用なし', '業界No.1', '世界一'];\nfor (const expr of prohibited) {\n  if (content.includes(expr)) {\n    issues.push(`禁止表現検出: ${expr}`);\n  }\n}\n\nreturn [{ json: { ...item, quality: { passed: issues.length === 0, issues, word_count: wordCount, h2_count: h2Matches.length, internal_link_count: internalLinks.length } } }];"
      }
    },
    {
      "id": "blog-13-quality-ok",
      "name": "Quality OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2680, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quality-pass-check",
              "leftValue": "={{ $json.quality.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "blog-14-rewrite-check",
      "name": "Rewrite Iteration Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2900, 540],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "iteration-check",
              "leftValue": "={{ $json.iteration }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "blog-15-rewrite",
      "name": "Rewrite Content (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 480],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"以下のブログ記事には品質上の問題があります。問題点を修正して、改善版の記事全文を出力してください。\\n\\n## 品質上の問題点\\n{{ $json.quality.issues.join('\\n') }}\\n\\n## 現在の記事\\n{{ $json.content }}\\n\\n## 修正ルール\\n- frontmatterは必ず保持\\n- 文字数: 3000〜5000字（本文のみ）\\n- h2は5〜7個\\n- 内部リンク3本以上（/lp/, /blog/, /services/ 等へ）\\n- 禁止表現を使わない: 絶対に、確実に、100%、必ず治る、副作用なし、業界No.1、世界一\\n\\n改善した記事全文をMarkdown形式で出力してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "blog-16-rewrite-extract",
      "name": "Extract Rewrite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 480],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Quality Gate v0').first().json;\nreturn [{ json: { ...prevData, content: response.response, iteration: prevData.iteration + 1 } }];"
      }
    },
    {
      "id": "blog-17-rewrite-fail",
      "name": "Quality Failed After Retries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, 620],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconsole.log('Quality gate failed after max retries:', JSON.stringify(item.quality.issues));\n// Continue with best effort content\nreturn [{ json: item }];"
      }
    },
    {
      "id": "blog-18-claude-review",
      "name": "Claude Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 340],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"あなたは37Design（神戸のWeb制作・AI導入支援会社）のSEOエディターです。以下のブログ記事をレビューし、改善提案をしてください。\\n\\n## 記事\\n{{ $json.content }}\\n\\n## レビュー観点\\n1. SEO最適化（キーワード配置、見出し構造、内部リンク）\\n2. 読みやすさ（文章の流れ、段落の長さ、専門用語の解説）\\n3. 正確性（事実関係、データの根拠）\\n4. CTA効果（LPへの自然な誘導）\\n5. 禁止表現チェック（絶対に、確実に、100%、必ず治る、副作用なし、業界No.1、世界一）\\n\\n## 出力形式\\n具体的な改善指示をリスト形式で出力してください。各指示は「どの部分を」「どう変更するか」を明確に。\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "blog-19-final-rewrite",
      "name": "Final Rewrite (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 340],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"以下のブログ記事に対するレビューコメントを反映して、改善版の記事全文を出力してください。\\n\\n## レビューコメント\\n{{ $('Claude Review').first().json.content[0].text }}\\n\\n## 現在の記事\\n{{ $('Quality OK?').first().json.content }}\\n\\n## ルール\\n- frontmatterは必ず保持\\n- 文字数: 3000〜5000字（本文のみ）\\n- 禁止表現を使わない\\n- レビューの指摘を可能な限り反映\\n\\n改善した記事全文をMarkdown形式で出力してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "blog-20-extract-final",
      "name": "Extract Final Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 340],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst task = $('Get Task').first().json;\nreturn [{ json: { ...task, content: response.response } }];"
      }
    },
    {
      "id": "blog-21-merge-final",
      "name": "Merge Final Content",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3560, 400],
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      }
    },
    {
      "id": "blog-22-git-branch",
      "name": "Git Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3780, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git config user.name '37Design Marketing OS' && git config user.email 'os@37d.jp' && git checkout main && git pull origin main && git checkout -b task-{{ $json.id }}-{{ $json.slug }}\""
      }
    },
    {
      "id": "blog-23-aider-generate",
      "name": "Aider Generate",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4000, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && cat > /tmp/blog-{{ $json.id }}.md << 'BLOG_EOF'\n{{ $json.content }}\nBLOG_EOF\n/home/ken/.local/bin/aider --model ollama/qwen3:30b-a3b --yes-always --auto-commits --no-auto-lint --message 'Create blog post at src/content/blog/{{ $json.slug }}.md using the content from /tmp/blog-{{ $json.id }}.md. Copy the file contents exactly.' src/content/blog/{{ $json.slug }}.md\""
      }
    },
    {
      "id": "blog-24-git-add",
      "name": "Git Add",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4220, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git add src/content/blog/{{ $json.slug }}.md\""
      }
    },
    {
      "id": "blog-25-build-check",
      "name": "Build Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4440, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && npm run build 2>&1 | tail -30; echo EXIT_CODE=$?\""
      }
    },
    {
      "id": "blog-26-build-ok",
      "name": "Build OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4660, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "build-exit-check",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "EXIT_CODE=0",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "blog-27-fix-iteration-check",
      "name": "Fix Iteration Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4880, 540],
      "parameters": {
        "jsCode": "const fixCount = ($input.first().json.fix_count || 0) + 1;\nconst buildOutput = $('Build Check').first().json.stdout || '';\nreturn [{ json: { ...$('Get Task').first().json, fix_count: fixCount, build_error: buildOutput, can_retry: fixCount < 3 } }];"
      }
    },
    {
      "id": "blog-28-can-fix",
      "name": "Can Fix?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5100, 540],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fix-retry-check",
              "leftValue": "={{ $json.can_retry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "blog-29-aider-fix",
      "name": "Aider Fix",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5320, 480],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && /home/ken/.local/bin/aider --model ollama/qwen3:30b-a3b --yes-always --auto-commits --no-auto-lint --message 'Fix the following build error in src/content/blog/{{ $json.slug }}.md: {{ $json.build_error }}' src/content/blog/{{ $json.slug }}.md\""
      }
    },
    {
      "id": "blog-30-build-fail",
      "name": "Build Failed (Max Retries)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5320, 620],
      "parameters": {
        "jsCode": "const task = $('Get Task').first().json;\nreturn [{ json: { task_id: task.id, error: 'Build failed after 3 fix attempts', slug: task.slug } }];"
      }
    },
    {
      "id": "blog-31-merge-main",
      "name": "Merge to Main",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4880, 340],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git add -A && git commit -m 'feat: add blog {{ $('Get Task').first().json.slug }}' && git checkout main && git merge task-{{ $('Get Task').first().json.id }}-{{ $('Get Task').first().json.slug }} --no-ff -m 'feat: add blog {{ $('Get Task').first().json.slug }}'\""
      }
    },
    {
      "id": "blog-32-deploy",
      "name": "Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5100, 340],
      "parameters": {
        "command": "ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && bash scripts/deploy.sh main\""
      }
    },
    {
      "id": "blog-33-register-keywords",
      "name": "Register Keywords",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5320, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO keyword_clusters (client_id, cluster_name, primary_keyword, created_at)\nSELECT '{{ $('Get Task').first().json.client_id }}',\n       '{{ $('Get Task').first().json.target_keyword }}',\n       '{{ $('Get Task').first().json.target_keyword }}',\n       NOW()\nWHERE NOT EXISTS (\n  SELECT 1 FROM keyword_clusters\n  WHERE primary_keyword = '{{ $('Get Task').first().json.target_keyword }}'\n    AND client_id = '{{ $('Get Task').first().json.client_id }}'\n)\nRETURNING id;\n\nINSERT INTO content_keywords (cluster_id, keyword, content_path, created_at)\nSELECT kc.id,\n       '{{ $('Get Task').first().json.target_keyword }}',\n       '/blog/{{ $('Get Task').first().json.slug }}',\n       NOW()\nFROM keyword_clusters kc\nWHERE kc.primary_keyword = '{{ $('Get Task').first().json.target_keyword }}'\n  AND kc.client_id = '{{ $('Get Task').first().json.client_id }}'\nLIMIT 1;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-34-update-freshness",
      "name": "Update Freshness",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5540, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO page_freshness (client_id, page_path, content_hash, last_modified, created_at)\nVALUES (\n  '{{ $('Get Task').first().json.client_id }}',\n  '/blog/{{ $('Get Task').first().json.slug }}',\n  md5('{{ $('Get Task').first().json.slug }}-' || NOW()::text),\n  NOW(),\n  NOW()\n)\nON CONFLICT (client_id, page_path)\nDO UPDATE SET content_hash = EXCLUDED.content_hash, last_modified = NOW();",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-35-lock-page",
      "name": "Lock Page",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5760, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO page_locks (client_id, page_path, locked_by, lock_until, created_at)\nVALUES (\n  '{{ $('Get Task').first().json.client_id }}',\n  '/blog/{{ $('Get Task').first().json.slug }}',\n  'wf04_blog_generate',\n  NOW() + INTERVAL '7 days',\n  NOW()\n)\nON CONFLICT (client_id, page_path)\nDO UPDATE SET lock_until = NOW() + INTERVAL '7 days', locked_by = 'wf04_blog_generate';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-36-complete-task",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5980, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Get Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-37-error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5540, 620],
      "parameters": {
        "jsCode": "const task = $('Get Task').first().json;\nconst errorMsg = $input.first().json.error || 'Unknown error';\nreturn [{ json: { task_id: task.id, slug: task.slug, error: errorMsg, action: 'mark_failed' } }];"
      }
    },
    {
      "id": "blog-38-mark-failed",
      "name": "Mark Task Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5760, 620],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'failed',\n    error_log = '{{ $json.error }}',\n    completed_at = NOW(),\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "blog-39-cleanup-branch",
      "name": "Cleanup Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5980, 620],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git checkout main 2>/dev/null; git branch -D task-{{ $json.task_id }}-{{ $json.slug }} 2>/dev/null || true\""
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task": {
      "main": [
        [
          {
            "node": "Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat": {
      "main": [
        [
          {
            "node": "Cannibalization Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cannibalization Check": {
      "main": [
        [
          {
            "node": "Has Cannibalization?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cannibalization?": {
      "main": [
        [
          {
            "node": "Prepare Cannibalization Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Cannibalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cannibalization Context": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Cannibalization": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Structure Design (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Design (Claude)": {
      "main": [
        [
          {
            "node": "Parse Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structure": {
      "main": [
        [
          {
            "node": "Generate Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Quality Gate v0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate v0": {
      "main": [
        [
          {
            "node": "Quality OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality OK?": {
      "main": [
        [
          {
            "node": "Claude Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rewrite Iteration Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Iteration Check": {
      "main": [
        [
          {
            "node": "Rewrite Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quality Failed After Retries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Content (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Extract Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rewrite": {
      "main": [
        [
          {
            "node": "Quality Gate v0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Failed After Retries": {
      "main": [
        [
          {
            "node": "Claude Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Review": {
      "main": [
        [
          {
            "node": "Final Rewrite (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Rewrite (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Extract Final Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Final Content": {
      "main": [
        [
          {
            "node": "Merge Final Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Content": {
      "main": [
        [
          {
            "node": "Git Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Branch": {
      "main": [
        [
          {
            "node": "Aider Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aider Generate": {
      "main": [
        [
          {
            "node": "Git Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Add": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check": {
      "main": [
        [
          {
            "node": "Build OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OK?": {
      "main": [
        [
          {
            "node": "Merge to Main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Iteration Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Iteration Check": {
      "main": [
        [
          {
            "node": "Can Fix?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Fix?": {
      "main": [
        [
          {
            "node": "Aider Fix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failed (Max Retries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aider Fix": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failed (Max Retries)": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge to Main": {
      "main": [
        [
          {
            "node": "Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy": {
      "main": [
        [
          {
            "node": "Register Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Keywords": {
      "main": [
        [
          {
            "node": "Update Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Freshness": {
      "main": [
        [
          {
            "node": "Lock Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Page": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Mark Task Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Task Failed": {
      "main": [
        [
          {
            "node": "Cleanup Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}