scripts/n8n-wf05-page-generate.json
{
  "name": "WF05 Page Generate (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "page-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "37design-page-generate",
      "parameters": {
        "path": "37design-page-generate",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "page-02-get-task",
      "name": "Get Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tq.*, tq.payload::json->>'slug' AS slug,\n       tq.payload::json->>'page_type' AS page_type,\n       tq.payload::json->>'description' AS page_description\nFROM task_queue tq\nWHERE tq.id = {{ $json.body.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "page-03-heartbeat",
      "name": "Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET heartbeat_at = NOW(), status = 'running'\nWHERE id = {{ $('Get Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "page-04-page-design",
      "name": "Page Design (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"あなたは37Design（神戸のWeb制作・AI導入支援会社）のWebデザイナーです。\\n\\n以下の固定ページの構成を設計してください。\\n\\n## ページ情報\\n- スラッグ: {{ $('Get Task').first().json.slug }}\\n- ページ種別: {{ $('Get Task').first().json.page_type }}\\n- 説明: {{ $('Get Task').first().json.page_description }}\\n\\n## 固定ページルール\\n- 信頼感重視（実績数字、ロゴ、事例）\\n- 回遊を促す内部リンクを豊富に（最低2本）\\n- CTAはソフトめ（「詳しくはこちら」等）\\n- 構造化データ（LocalBusiness, FAQPage等）を含める\\n- 既存のHeader.astroとFooter.astroを使用\\n- パンくずリストを含める\\n- Layout.astro を使用\\n\\n## 会社情報\\n- 社名: 株式会社37Design\\n- 代表: 古田 健\\n- 設立: 2012年6月1日\\n- 本社: 兵庫県神戸市北区桂木2-35-C604\\n- 東京営業所: 東京都中央区銀座4-10-14 ACN銀座4ビルディング11F\\n- 電話: 080-2412-2556\\n- メール: info@37design.co.jp\\n\\n## デザインシステム\\n- Primary: #0a0f1e (dark) 〜 #f0f4fa (light)\\n- Accent: #f5d020 (yellow/gold)\\n- Font: Noto Sans JP\\n- コンテナ: max-w-6xl mx-auto px-4 sm:px-6 lg:px-8\\n- Tailwind CSS でスタイリング\\n\\n## 出力形式（JSON）\\n{\\n  \\\"page_title\\\": \\\"ページタイトル\\\",\\n  \\\"meta_description\\\": \\\"120〜160字\\\",\\n  \\\"sections\\\": [\\n    {\\n      \\\"type\\\": \\\"hero|features|stats|testimonials|cta|faq|breadcrumb\\\",\\n      \\\"heading\\\": \\\"セクション見出し\\\",\\n      \\\"content_outline\\\": \\\"内容の概要\\\"\\n    }\\n  ],\\n  \\\"internal_links\\\": [\\\"/services\\\", \\\"/contact\\\"],\\n  \\\"structured_data_type\\\": \\\"LocalBusiness|FAQPage|WebPage\\\"\\n}\\n\\nJSONのみ出力してください。\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "page-05-parse-design",
      "name": "Parse Design",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text;\nconst jsonMatch = text.match(/```json\\n?([\\s\\S]*?)```/) || [null, text];\nconst design = JSON.parse(jsonMatch[1].trim());\nconst task = $('Get Task').first().json;\nreturn [{ json: { ...task, design, iteration: 0 } }];"
      }
    },
    {
      "id": "page-06-generate-content",
      "name": "Generate Content (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 400],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"あなたは37Design（神戸のWeb制作・AI導入支援会社）のフロントエンド開発者です。以下のページ設計に従って、Astroコンポーネント (.astro) のコードを生成してください。\\n\\n## ページ設計\\n{{ JSON.stringify($json.design) }}\\n\\n## 技術要件\\n- Astro 5 + Tailwind CSS 4\\n- Layout.astro をインポートして使用: import Layout from '../layouts/Layout.astro';\\n- Header.astro と Footer.astro は Layout.astro に含まれているので個別インポート不要\\n- パンくずリストを含める\\n- 構造化データをJSON-LDで<script type=\\\"application/ld+json\\\">に含める\\n- 全画像にalt属性を必ず設定\\n- レスポンシブデザイン（モバイルファースト）\\n- コンテナ: max-w-6xl mx-auto px-4 sm:px-6 lg:px-8\\n- Primary: #0a0f1e, Accent: #f5d020\\n- 内部リンクを最低2本含める\\n- 禁止表現: 絶対に、確実に、100%、必ず治る、副作用なし、業界No.1、世界一\\n\\n## 出力\\n完全な .astro ファイルのコードのみ出力してください。説明は不要です。\\n---でフロントマターを囲み、その中でimport文を書いてください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "page-07-extract-content",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.response;\nconst task = $('Get Task').first().json;\nconst iteration = $('Parse Design').first().json.iteration || 0;\nreturn [{ json: { ...task, content, iteration, design: $('Parse Design').first().json.design } }];"
      }
    },
    {
      "id": "page-08-quality-gate",
      "name": "Quality Gate v0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst content = item.content;\nconst issues = [];\n\n// Internal links (href=\"/...\")\nconst internalLinks = content.match(/href=\\\"\\/(blog|lp|services|service|cases|company|faq|contact|about)/g) || [];\nif (internalLinks.length < 2) {\n  issues.push(`回遊リンク不足: ${internalLinks.length}本 (最低2本)`);\n}\n\n// All images have alt attribute\nconst imgTags = content.match(/<img[^>]*>/g) || [];\nfor (const img of imgTags) {\n  if (!img.includes('alt=')) {\n    issues.push(`alt属性なしの画像検出: ${img.substring(0, 60)}...`);\n  }\n}\n\n// Prohibited expressions\nconst prohibited = ['絶対に', '確実に', '100%', '必ず治る', '副作用なし', '業界No.1', '世界一'];\nfor (const expr of prohibited) {\n  if (content.includes(expr)) {\n    issues.push(`禁止表現検出: ${expr}`);\n  }\n}\n\nreturn [{ json: { ...item, quality: { passed: issues.length === 0, issues, internal_link_count: internalLinks.length } } }];"
      }
    },
    {
      "id": "page-09-quality-ok",
      "name": "Quality OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1800, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quality-pass-check",
              "leftValue": "={{ $json.quality.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "page-10-rewrite-check",
      "name": "Rewrite Iteration Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2020, 540],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "iteration-check",
              "leftValue": "={{ $json.iteration }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "page-11-rewrite",
      "name": "Rewrite Content (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 480],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"以下のAstroページコードには品質上の問題があります。問題点を修正して、改善版のコード全文を出力してください。\\n\\n## 品質上の問題点\\n{{ $json.quality.issues.join('\\n') }}\\n\\n## 現在のコード\\n{{ $json.content }}\\n\\n## 修正ルール\\n- 回遊リンク2本以上（/services/, /contact/, /blog/ 等へのhref）\\n- 全画像にalt属性を必ず設定\\n- 禁止表現を使わない: 絶対に、確実に、100%、必ず治る、副作用なし、業界No.1、世界一\\n- Astro + Tailwind CSSの構文を維持\\n\\n改善した.astroファイル全文を出力してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "page-12-rewrite-extract",
      "name": "Extract Rewrite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 480],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Quality Gate v0').first().json;\nreturn [{ json: { ...prevData, content: response.response, iteration: prevData.iteration + 1 } }];"
      }
    },
    {
      "id": "page-13-rewrite-fail",
      "name": "Quality Failed After Retries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 620],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconsole.log('Quality gate failed after max retries:', JSON.stringify(item.quality.issues));\nreturn [{ json: item }];"
      }
    },
    {
      "id": "page-14-merge-quality",
      "name": "Merge Quality Path",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2460, 400],
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      }
    },
    {
      "id": "page-15-git-branch",
      "name": "Git Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2680, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git config user.name '37Design Marketing OS' && git config user.email 'os@37d.jp' && git checkout main && git pull origin main && git checkout -b task-{{ $json.id }}-{{ $json.slug }}\""
      }
    },
    {
      "id": "page-16-aider-generate",
      "name": "Aider Generate",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2900, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && cat > /tmp/page-{{ $json.id }}.astro << 'PAGE_EOF'\n{{ $json.content }}\nPAGE_EOF\n/home/ken/.local/bin/aider --model ollama/qwen3:30b-a3b --yes-always --auto-commits --no-auto-lint --message 'Create page at src/pages/{{ $json.slug }}.astro using the content from /tmp/page-{{ $json.id }}.astro. Copy the file contents exactly.' src/pages/{{ $json.slug }}.astro\""
      }
    },
    {
      "id": "page-17-git-add",
      "name": "Git Add",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3120, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git add src/pages/{{ $json.slug }}.astro\""
      }
    },
    {
      "id": "page-18-build-check",
      "name": "Build Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3340, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && npm run build 2>&1 | tail -30; echo EXIT_CODE=$?\""
      }
    },
    {
      "id": "page-19-build-ok",
      "name": "Build OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3560, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "build-exit-check",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "EXIT_CODE=0",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "page-20-fix-iteration-check",
      "name": "Fix Iteration Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3780, 540],
      "parameters": {
        "jsCode": "const fixCount = ($input.first().json.fix_count || 0) + 1;\nconst buildOutput = $('Build Check').first().json.stdout || '';\nreturn [{ json: { ...$('Get Task').first().json, fix_count: fixCount, build_error: buildOutput, can_retry: fixCount < 3 } }];"
      }
    },
    {
      "id": "page-21-can-fix",
      "name": "Can Fix?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4000, 540],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fix-retry-check",
              "leftValue": "={{ $json.can_retry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "page-22-aider-fix",
      "name": "Aider Fix",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4220, 480],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && /home/ken/.local/bin/aider --model ollama/qwen3:30b-a3b --yes-always --auto-commits --no-auto-lint --message 'Fix the following build error in src/pages/{{ $json.slug }}.astro: {{ $json.build_error }}' src/pages/{{ $json.slug }}.astro\""
      }
    },
    {
      "id": "page-23-build-fail",
      "name": "Build Failed (Max Retries)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4220, 620],
      "parameters": {
        "jsCode": "const task = $('Get Task').first().json;\nreturn [{ json: { task_id: task.id, error: 'Build failed after 3 fix attempts', slug: task.slug } }];"
      }
    },
    {
      "id": "page-24-merge-main",
      "name": "Merge to Main",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3780, 340],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git add -A && git commit -m 'feat: add page {{ $('Get Task').first().json.slug }}' && git checkout main && git merge task-{{ $('Get Task').first().json.id }}-{{ $('Get Task').first().json.slug }} --no-ff -m 'feat: add page {{ $('Get Task').first().json.slug }}'\""
      }
    },
    {
      "id": "page-25-deploy",
      "name": "Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4000, 340],
      "parameters": {
        "command": "ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && bash scripts/deploy.sh main\""
      }
    },
    {
      "id": "page-26-update-freshness",
      "name": "Update Freshness",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4220, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO page_freshness (client_id, page_path, content_hash, last_modified, created_at)\nVALUES (\n  '{{ $('Get Task').first().json.client_id }}',\n  '/{{ $('Get Task').first().json.slug }}',\n  md5('{{ $('Get Task').first().json.slug }}-' || NOW()::text),\n  NOW(),\n  NOW()\n)\nON CONFLICT (client_id, page_path)\nDO UPDATE SET content_hash = EXCLUDED.content_hash, last_modified = NOW();",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "page-27-lock-page",
      "name": "Lock Page",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4440, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO page_locks (client_id, page_path, locked_by, lock_until, created_at)\nVALUES (\n  '{{ $('Get Task').first().json.client_id }}',\n  '/{{ $('Get Task').first().json.slug }}',\n  'wf05_page_generate',\n  NOW() + INTERVAL '14 days',\n  NOW()\n)\nON CONFLICT (client_id, page_path)\nDO UPDATE SET lock_until = NOW() + INTERVAL '14 days', locked_by = 'wf05_page_generate';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "page-28-complete-task",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4660, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Get Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "page-29-error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4440, 620],
      "parameters": {
        "jsCode": "const task = $('Get Task').first().json;\nconst errorMsg = $input.first().json.error || 'Unknown error';\nreturn [{ json: { task_id: task.id, slug: task.slug, error: errorMsg, action: 'mark_failed' } }];"
      }
    },
    {
      "id": "page-30-mark-failed",
      "name": "Mark Task Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4660, 620],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'failed',\n    error_log = '{{ $json.error }}',\n    completed_at = NOW(),\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "page-31-cleanup-branch",
      "name": "Cleanup Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4880, 620],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git checkout main 2>/dev/null; git branch -D task-{{ $json.task_id }}-{{ $json.slug }} 2>/dev/null || true\""
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task": {
      "main": [
        [
          {
            "node": "Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat": {
      "main": [
        [
          {
            "node": "Page Design (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Design (Claude)": {
      "main": [
        [
          {
            "node": "Parse Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Design": {
      "main": [
        [
          {
            "node": "Generate Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Quality Gate v0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate v0": {
      "main": [
        [
          {
            "node": "Quality OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality OK?": {
      "main": [
        [
          {
            "node": "Merge Quality Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rewrite Iteration Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Iteration Check": {
      "main": [
        [
          {
            "node": "Rewrite Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quality Failed After Retries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Content (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Extract Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rewrite": {
      "main": [
        [
          {
            "node": "Quality Gate v0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Failed After Retries": {
      "main": [
        [
          {
            "node": "Merge Quality Path",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Quality Path": {
      "main": [
        [
          {
            "node": "Git Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Branch": {
      "main": [
        [
          {
            "node": "Aider Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aider Generate": {
      "main": [
        [
          {
            "node": "Git Add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Add": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check": {
      "main": [
        [
          {
            "node": "Build OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OK?": {
      "main": [
        [
          {
            "node": "Merge to Main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Iteration Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Iteration Check": {
      "main": [
        [
          {
            "node": "Can Fix?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Fix?": {
      "main": [
        [
          {
            "node": "Aider Fix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failed (Max Retries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aider Fix": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failed (Max Retries)": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge to Main": {
      "main": [
        [
          {
            "node": "Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy": {
      "main": [
        [
          {
            "node": "Update Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Freshness": {
      "main": [
        [
          {
            "node": "Lock Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Page": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Mark Task Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Task Failed": {
      "main": [
        [
          {
            "node": "Cleanup Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}