scripts/n8n-wf02b-llm-diagnosis.json
{
  "name": "WF02b LLM Diagnosis (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "diag-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "37design-llm-diagnosis",
      "parameters": {
        "path": "37design-llm-diagnosis",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "diag-02-prepare-prompt",
      "name": "Prepare Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst candidates = input.candidates || [];\n\nif (candidates.length === 0) {\n  return [{ json: { skip: true, candidates: [] } }];\n}\n\nconst prompt = `あなたは37DesignマーケティングOSの戦略判断AIです。\n以下はルールベースで生成されたタスク候補リストです。\n\nあなたの役割:\n1. 優先順位の最終調整（ビジネスインパクト観点）\n2. 類似タスクの統合\n3. 各タスクへの expected_impact コメント付与\n4. ルールでは拾えない例外的な施策提案（最大2件）\n\nタスク候補:\n${JSON.stringify(candidates, null, 2)}\n\n回答はJSON形式で:\n{\n  \"tasks\": [\n    {\n      \"client_id\": \"...\",\n      \"task_type\": \"...\",\n      \"content_type\": \"...\",\n      \"priority\": 1-10,\n      \"payload\": {...},\n      \"expected_impact\": \"...\"\n    }\n  ]\n}`;\n\nreturn [{ json: { prompt, candidateCount: candidates.length, skip: false } }];"
      }
    },
    {
      "id": "diag-03-skip-check",
      "name": "Skip Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-condition",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "diag-04-claude-api",
      "name": "Claude API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, messages: [{ role: 'user', content: $('Prepare Claude Prompt').first().json.prompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "diag-05-parse-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet content = '';\n\n// Handle Claude API response format\nif (response.content && Array.isArray(response.content)) {\n  content = response.content.map(c => c.text || '').join('');\n} else if (typeof response === 'string') {\n  content = response;\n}\n\n// Extract JSON from response\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet tasks = [];\n\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[0]);\n    tasks = parsed.tasks || [];\n  } catch (e) {\n    console.log('Failed to parse Claude response:', e.message);\n  }\n}\n\nif (tasks.length === 0) {\n  return [{ json: { _noTasks: true } }];\n}\n\nreturn tasks.map(task => ({ json: task }));"
      }
    },
    {
      "id": "diag-06-reserve-key",
      "name": "Reserve Task Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO active_task_keys (task_key, client_id, status)\nVALUES (\n  '{{ $json.client_id }}:{{ $json.task_type }}:{{ $json.payload?.page_slug || \"new-\" + Date.now() }}',\n  '{{ $json.client_id }}',\n  'reserved'\n)\nON CONFLICT (task_key) DO NOTHING\nRETURNING task_key;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "diag-07-check-reservation",
      "name": "Check Reservation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "reservation-check",
              "leftValue": "={{ $json.task_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "diag-08-insert-task",
      "name": "Insert Task Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1820, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_queue (client_id, task_type, content_type, priority, payload, task_key)\nVALUES (\n  '{{ $json.client_id }}',\n  '{{ $json.task_type }}',\n  '{{ $json.content_type }}',\n  {{ $json.priority || 5 }},\n  '{{ JSON.stringify($json.payload || {}) }}'::jsonb,\n  '{{ $json.client_id }}:{{ $json.task_type }}:{{ $json.payload?.page_slug || \"new\" }}'\n)\nRETURNING id;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "diag-09-attach-key",
      "name": "Attach Task Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2080, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE active_task_keys\nSET status = 'attached', task_id = {{ $json.id }}\nWHERE task_key = '{{ $json.client_id }}:{{ $json.task_type }}:{{ $json.payload?.page_slug || \"new\" }}'\n  AND status = 'reserved';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "diag-10-summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2340, 300],
      "parameters": {
        "jsCode": "const inserted = $('Insert Task Queue').all();\nconst count = inserted.length;\nreturn [{ json: { message: `本日のタスク計画: ${count}件のタスクをキューに追加しました`, count } }];"
      }
    },
    {
      "id": "diag-11-trigger-decision",
      "name": "Trigger Decision WF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/37design-decision",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "trigger",
              "value": "llm_diagnosis_complete"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "diag-12-no-tasks",
      "name": "No Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 180],
      "parameters": {
        "jsCode": "return [{ json: { message: 'タスク候補がありません。スキップします。', count: 0 } }];"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Prompt": {
      "main": [
        [
          {
            "node": "Skip Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Check": {
      "main": [
        [
          {
            "node": "No Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API Call": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Reserve Task Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reserve Task Key": {
      "main": [
        [
          {
            "node": "Check Reservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reservation": {
      "main": [
        [
          {
            "node": "Insert Task Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Task Queue": {
      "main": [
        [
          {
            "node": "Attach Task Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Task Key": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Trigger Decision WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}