scripts/n8n-wf11-sns-post.json
{
  "name": "WF11 SNS Post (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "sns-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "37design-sns-post",
      "parameters": {
        "path": "37design-sns-post",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "sns-02-get-task",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tq.id, tq.client_id, tq.task_type, tq.content_type, tq.payload, tq.task_key,\n       c.name AS client_name\nFROM task_queue tq\nJOIN clients c ON c.id = tq.client_id\nWHERE tq.id = '{{ $json.body.task_id }}'\n  AND tq.status = 'running';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "sns-03-heartbeat",
      "name": "Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [520, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue SET heartbeat_at = NOW() WHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "sns-04-get-content",
      "name": "Get Page Content",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 3.1,
      "position": [780, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cat ~/37design-astro-site/{{ $('Get Task Details').first().json.payload.target_file }}\""
      }
    },
    {
      "id": "sns-05-generate-posts",
      "name": "Generate SNS Posts (Qwen3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:8b\",\n  \"prompt\": \"以下のWebページコンテンツに基づいて、3つのSNSプラットフォーム用の投稿文を生成してください。\\n\\nURL: {{ $('Get Task Details').first().json.payload.content_url }}\\n\\nコンテンツ:\\n{{ $('Get Page Content').first().json.stdout.substring(0, 3000) }}\\n\\n以下のJSON形式で返してください:\\n{\\n  \\\"x\\\": {\\\"text\\\": \\\"140文字以内、ハッシュタグ含む、リンク含む\\\"},\\n  \\\"instagram\\\": {\\\"text\\\": \\\"キャプション、絵文字使用、ハッシュタグ多め、リンクなし\\\"},\\n  \\\"facebook\\\": {\\\"text\\\": \\\"会話調、リンク含む\\\"}\\n}\\n\\nJSONのみを返してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "sns-06-parse-posts",
      "name": "Parse SNS Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.response;\n\nlet posts;\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  posts = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  posts = {\n    x: { text: 'Parse error - manual post required' },\n    instagram: { text: 'Parse error - manual post required' },\n    facebook: { text: 'Parse error - manual post required' }\n  };\n}\n\nconst task = $('Get Task Details').first().json;\nconst platforms = task.payload.platforms || ['x', 'instagram', 'facebook'];\n\nreturn [{ json: { posts, platforms, task_id: task.id, content_url: task.payload.content_url } }];"
      }
    },
    {
      "id": "sns-07-timing-check",
      "name": "Check Optimal Timing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400],
      "parameters": {
        "jsCode": "const now = new Date();\n// JST = UTC + 9\nconst jstHour = (now.getUTCHours() + 9) % 24;\n\n// Optimal windows: 9-12, 17-20 JST\nconst isOptimal = (jstHour >= 9 && jstHour < 12) || (jstHour >= 17 && jstHour < 20);\n\nlet scheduleFor = null;\nif (!isOptimal) {\n  // Schedule for next optimal window\n  const nextDate = new Date(now);\n  if (jstHour < 9) {\n    // Today 9:00 JST\n    nextDate.setUTCHours(0, 0, 0, 0); // 9:00 JST = 0:00 UTC\n  } else if (jstHour >= 12 && jstHour < 17) {\n    // Today 17:00 JST\n    nextDate.setUTCHours(8, 0, 0, 0); // 17:00 JST = 8:00 UTC\n  } else {\n    // Tomorrow 9:00 JST\n    nextDate.setDate(nextDate.getDate() + 1);\n    nextDate.setUTCHours(0, 0, 0, 0);\n  }\n  scheduleFor = nextDate.toISOString();\n}\n\nconst prev = $input.first().json;\nreturn [{ json: { ...prev, is_optimal: isOptimal, schedule_for: scheduleFor, jst_hour: jstHour } }];"
      }
    },
    {
      "id": "sns-08-should-wait",
      "name": "Post Now?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1820, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "timing-check",
              "leftValue": "={{ $json.is_optimal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "sns-09-wait-schedule",
      "name": "Wait Until Optimal Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2080, 560],
      "parameters": {
        "dateTime": "={{ $('Check Optimal Timing').first().json.schedule_for }}"
      }
    },
    {
      "id": "sns-10-post-x",
      "name": "Post to X (Twitter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWITTER_BEARER_TOKEN }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Check Optimal Timing').first().json.posts.x.text }}\"\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "sns-11-post-instagram",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 400],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $('Check Optimal Timing').first().json.posts.instagram.text }}"
            },
            {
              "name": "media_type",
              "value": "TEXT"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "sns-12-post-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 600],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.FACEBOOK_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Check Optimal Timing').first().json.posts.facebook.text }}"
            },
            {
              "name": "link",
              "value": "={{ $('Check Optimal Timing').first().json.content_url }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "sns-13-log-x",
      "name": "Log X Post",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2600, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sns_posts (task_id, platform, post_text, post_id, content_url, posted_at)\nVALUES (\n  {{ $('Get Task Details').first().json.id }},\n  'x',\n  '{{ $('Check Optimal Timing').first().json.posts.x.text.replace(/'/g, \"''\") }}',\n  '{{ $json.data ? $json.data.id : \"error\" }}',\n  '{{ $('Check Optimal Timing').first().json.content_url }}',\n  NOW()\n);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "sns-14-log-instagram",
      "name": "Log Instagram Post",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2600, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sns_posts (task_id, platform, post_text, post_id, content_url, posted_at)\nVALUES (\n  {{ $('Get Task Details').first().json.id }},\n  'instagram',\n  '{{ $('Check Optimal Timing').first().json.posts.instagram.text.replace(/'/g, \"''\") }}',\n  '{{ $json.id || \"error\" }}',\n  '{{ $('Check Optimal Timing').first().json.content_url }}',\n  NOW()\n);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "sns-15-log-facebook",
      "name": "Log Facebook Post",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2600, 600],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sns_posts (task_id, platform, post_text, post_id, content_url, posted_at)\nVALUES (\n  {{ $('Get Task Details').first().json.id }},\n  'facebook',\n  '{{ $('Check Optimal Timing').first().json.posts.facebook.text.replace(/'/g, \"''\") }}',\n  '{{ $json.id || \"error\" }}',\n  '{{ $('Check Optimal Timing').first().json.content_url }}',\n  NOW()\n);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "sns-16-merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2860, 400],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "sns-17-complete",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3120, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    result = '{\"platforms_posted\": [\"x\", \"instagram\", \"facebook\"]}',\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Task Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Details": {
      "main": [
        [
          {
            "node": "Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat": {
      "main": [
        [
          {
            "node": "Get Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Content": {
      "main": [
        [
          {
            "node": "Generate SNS Posts (Qwen3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SNS Posts (Qwen3)": {
      "main": [
        [
          {
            "node": "Parse SNS Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SNS Posts": {
      "main": [
        [
          {
            "node": "Check Optimal Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Optimal Timing": {
      "main": [
        [
          {
            "node": "Post Now?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Now?": {
      "main": [
        [
          {
            "node": "Post to X (Twitter)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Until Optimal Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Optimal Time": {
      "main": [
        [
          {
            "node": "Post to X (Twitter)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X (Twitter)": {
      "main": [
        [
          {
            "node": "Log X Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Log Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Log Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log X Post": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Instagram Post": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log Facebook Post": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}