scripts/n8n-wf06-lp-generate.json
{
  "name": "WF06 LP Generate (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "lp-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "37design-lp-generate",
      "parameters": {
        "path": "37design-lp-generate",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "lp-02-get-task",
      "name": "Get Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, client_id, task_type, content_type, priority, payload, task_key\nFROM task_queue\nWHERE id = {{ $json.body.task_id }}\n  AND status = 'running';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "lp-03-heartbeat",
      "name": "Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET heartbeat_at = NOW(), status = 'running'\nWHERE id = {{ $('Get Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "lp-04-parse-payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300],
      "parameters": {
        "jsCode": "const task = $('Get Task').first().json;\nconst payload = typeof task.payload === 'string' ? JSON.parse(task.payload) : task.payload;\nreturn [{\n  json: {\n    task_id: task.id,\n    client_id: task.client_id,\n    slug: payload.slug || 'untitled',\n    title: payload.title || '',\n    description: payload.description || '',\n    target_audience: payload.target_audience || '',\n    service_name: payload.service_name || '',\n    keywords: payload.keywords || [],\n    payload: payload\n  }\n}];"
      }
    },
    {
      "id": "lp-05-lp-design",
      "name": "LP Design (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"あなたはLP設計の専門家です。以下の情報をもとに、LPの全13セクションの設計を行ってください。\\n\\n## LP情報\\n- タイトル: {{ $json.title }}\\n- サービス名: {{ $json.service_name }}\\n- ターゲット: {{ $json.target_audience }}\\n- 説明: {{ $json.description }}\\n- キーワード: {{ $json.keywords }}\\n\\n## LP構成（13セクション）\\n1. ファーストビュー（Hero）: キャッチコピー + CTA\\n2. 問題提起（ProblemSection）\\n3. 共感（EmpathySection）\\n4. 解決策の提示（SolutionSection）\\n5. 商品/サービス紹介（ProductIntro）\\n6. 特徴・ベネフィット（Benefits）\\n7. 使い方・流れ（HowItWorks）\\n8. お客様の声（Testimonials）\\n9. 比較・差別化（Comparison）\\n10. 料金（Pricing）\\n11. よくある質問（FAQ）\\n12. 最終CTA（FinalCTA）\\n13. フッター（LPFooter）\\n\\n## ルール\\n- モバイルファースト\\n- CTAボタンは最低3箇所（Hero, セクション途中, FinalCTA）\\n- CTAカラー: bg-orange-500 hover:bg-orange-600\\n- 禁止表現: 絶対に, 確実に, 100%, 必ず治る, 副作用なし, 業界No.1, 世界一（根拠なし）\\n- お客様の声/実績は具体的な数値やストーリーを含める\\n\\nJSON形式で出力してください:\\n{\\n  \\\"target_audience\\\": \\\"...\\\",\\n  \\\"pain_points\\\": [\\\"...\\\"],\\n  \\\"value_proposition\\\": \\\"...\\\",\\n  \\\"sections\\\": {\\n    \\\"hero\\\": {\\\"heading\\\": \\\"...\\\", \\\"subheading\\\": \\\"...\\\", \\\"cta_text\\\": \\\"...\\\"},\\n    \\\"problem\\\": {\\\"heading\\\": \\\"...\\\", \\\"items\\\": [\\\"...\\\"]},\\n    \\\"empathy\\\": {\\\"heading\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\"},\\n    \\\"solution\\\": {\\\"heading\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\"},\\n    \\\"product_intro\\\": {\\\"heading\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\", \\\"features\\\": [\\\"...\\\"]},\\n    \\\"benefits\\\": {\\\"heading\\\": \\\"...\\\", \\\"items\\\": [{\\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\"}]},\\n    \\\"how_it_works\\\": {\\\"heading\\\": \\\"...\\\", \\\"steps\\\": [{\\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\"}]},\\n    \\\"testimonials\\\": {\\\"heading\\\": \\\"...\\\", \\\"items\\\": [{\\\"name\\\": \\\"...\\\", \\\"role\\\": \\\"...\\\", \\\"quote\\\": \\\"...\\\", \\\"result\\\": \\\"...\\\"}]},\\n    \\\"comparison\\\": {\\\"heading\\\": \\\"...\\\", \\\"items\\\": [{\\\"feature\\\": \\\"...\\\", \\\"us\\\": \\\"...\\\", \\\"others\\\": \\\"...\\\"}]},\\n    \\\"pricing\\\": {\\\"heading\\\": \\\"...\\\", \\\"plans\\\": [{\\\"name\\\": \\\"...\\\", \\\"price\\\": \\\"...\\\", \\\"features\\\": [\\\"...\\\"]}]},\\n    \\\"faq\\\": {\\\"heading\\\": \\\"...\\\", \\\"items\\\": [{\\\"question\\\": \\\"...\\\", \\\"answer\\\": \\\"...\\\"}]},\\n    \\\"final_cta\\\": {\\\"heading\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\", \\\"cta_text\\\": \\\"...\\\"},\\n    \\\"footer\\\": {\\\"company_name\\\": \\\"株式会社37Design\\\", \\\"links\\\": []}\\n  }\\n}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "lp-06-generate-content",
      "name": "Generate Section Content (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"以下のLP設計に基づいて、全13セクションの詳細コンテンツをJSON形式で生成してください。各セクションには heading, subheading, body, cta_text（該当箇所のみ）, items/features リストを含めてください。具体的な数値・事例・ストーリーを盛り込み、説得力のあるコピーを作成してください。\\n\\nLP設計:\\n{{ $('LP Design (Claude)').first().json.content[0].text }}\\n\\nJSON形式で全セクションのコンテンツを出力してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 180000
        }
      }
    },
    {
      "id": "lp-07-quality-gate",
      "name": "Quality Gate v0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300],
      "parameters": {
        "jsCode": "const contentRaw = $('Generate Section Content (Qwen3 30B)').first().json.response || '';\nlet content;\ntry {\n  const jsonMatch = contentRaw.match(/\\{[\\s\\S]*\\}/);\n  content = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  return [{ json: { passed: false, issues: ['Failed to parse content JSON: ' + e.message], content: contentRaw, fix_iteration: 0 } }];\n}\n\nconst issues = [];\n\n// CTA count >= 3\nconst contentStr = JSON.stringify(content);\nconst ctaMatches = contentStr.match(/cta_text/gi) || [];\nif (ctaMatches.length < 3) {\n  issues.push('CTA数が不足しています（現在: ' + ctaMatches.length + ', 必要: 3以上）');\n}\n\n// Testimonials/results section has content\nconst testimonials = content.sections?.testimonials || content.testimonials;\nif (!testimonials || !testimonials.items || testimonials.items.length === 0) {\n  issues.push('お客様の声/実績セクションにコンテンツがありません');\n}\n\n// All sections have content (no empty sections)\nconst requiredSections = ['hero', 'problem', 'empathy', 'solution', 'product_intro', 'benefits', 'how_it_works', 'testimonials', 'comparison', 'pricing', 'faq', 'final_cta', 'footer'];\nconst sections = content.sections || content;\nfor (const sec of requiredSections) {\n  if (!sections[sec] || (typeof sections[sec] === 'object' && Object.keys(sections[sec]).length === 0)) {\n    issues.push('セクション \"' + sec + '\" が空です');\n  }\n}\n\n// No prohibited expressions\nconst prohibited = ['絶対に', '確実に', '100%', '必ず治る', '副作用なし', '業界No.1', '世界一'];\nfor (const expr of prohibited) {\n  if (contentStr.includes(expr)) {\n    issues.push('禁止表現が含まれています: ' + expr);\n  }\n}\n\nreturn [{ json: { passed: issues.length === 0, issues: issues, content: content, content_raw: contentRaw, fix_iteration: 0 } }];"
      }
    },
    {
      "id": "lp-08-quality-ok",
      "name": "Quality OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1790, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quality-check",
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "lp-09-fix-content",
      "name": "Fix Content (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 440],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"以下のLPコンテンツに品質上の問題があります。問題を修正して、完全なJSONを再出力してください。\\n\\n## 検出された問題\\n{{ JSON.stringify($json.issues) }}\\n\\n## 現在のコンテンツ\\n{{ $json.content_raw }}\\n\\n## ルール\\n- CTAは最低3箇所必要\\n- お客様の声/実績セクションには具体的な内容が必要\\n- 全13セクションにコンテンツが必要\\n- 禁止表現: 絶対に, 確実に, 100%, 必ず治る, 副作用なし, 業界No.1, 世界一\\n\\n修正後のJSON全体を出力してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 180000
        }
      }
    },
    {
      "id": "lp-10-recheck-quality",
      "name": "Recheck Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 440],
      "parameters": {
        "jsCode": "const prevIteration = $('Quality Gate v0').first()?.json?.fix_iteration || $('Recheck Quality').first()?.json?.fix_iteration || 0;\nconst contentRaw = $('Fix Content (Qwen3 30B)').first().json.response || '';\nlet content;\ntry {\n  const jsonMatch = contentRaw.match(/\\{[\\s\\S]*\\}/);\n  content = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  return [{ json: { passed: false, issues: ['Failed to parse fixed content JSON: ' + e.message], content_raw: contentRaw, fix_iteration: prevIteration + 1 } }];\n}\n\nconst issues = [];\nconst contentStr = JSON.stringify(content);\nconst ctaMatches = contentStr.match(/cta_text/gi) || [];\nif (ctaMatches.length < 3) issues.push('CTA数不足（現在: ' + ctaMatches.length + '）');\n\nconst testimonials = content.sections?.testimonials || content.testimonials;\nif (!testimonials || !testimonials.items || testimonials.items.length === 0) issues.push('お客様の声セクションが空');\n\nconst requiredSections = ['hero', 'problem', 'empathy', 'solution', 'product_intro', 'benefits', 'how_it_works', 'testimonials', 'comparison', 'pricing', 'faq', 'final_cta', 'footer'];\nconst sections = content.sections || content;\nfor (const sec of requiredSections) {\n  if (!sections[sec] || (typeof sections[sec] === 'object' && Object.keys(sections[sec]).length === 0)) issues.push('セクション \"' + sec + '\" が空');\n}\n\nconst prohibited = ['絶対に', '確実に', '100%', '必ず治る', '副作用なし', '業界No.1', '世界一'];\nfor (const expr of prohibited) {\n  if (contentStr.includes(expr)) issues.push('禁止表現: ' + expr);\n}\n\nconst iteration = prevIteration + 1;\nreturn [{ json: { passed: issues.length === 0 || iteration >= 2, issues: issues, content: content, content_raw: contentRaw, fix_iteration: iteration } }];"
      }
    },
    {
      "id": "lp-11-fix-ok",
      "name": "Fix OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2450, 440],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fix-check",
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "lp-12-prepare-astro",
      "name": "Prepare Astro Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 160],
      "parameters": {
        "jsCode": "const task = $('Parse Payload').first().json;\nlet content;\ntry {\n  // Try from quality gate first (happy path), then from fix path\n  const qgData = $('Quality Gate v0').first()?.json;\n  const fixData = $('Recheck Quality').first()?.json;\n  content = (fixData && fixData.passed) ? fixData.content : qgData.content;\n} catch (e) {\n  content = $('Quality Gate v0').first().json.content;\n}\n\nconst sections = content.sections || content;\nconst slug = task.slug;\nconst title = sections.hero?.heading || task.title || 'LP';\nconst description = task.description || sections.hero?.subheading || '';\n\nconst astroCode = `---\nimport LPLayout from '../../layouts/LPLayout.astro';\nimport Hero from '../../components/lp/Hero.astro';\nimport ProblemSection from '../../components/lp/ProblemSection.astro';\nimport EmpathySection from '../../components/lp/EmpathySection.astro';\nimport SolutionSection from '../../components/lp/SolutionSection.astro';\nimport ProductIntro from '../../components/lp/ProductIntro.astro';\nimport Benefits from '../../components/lp/Benefits.astro';\nimport HowItWorks from '../../components/lp/HowItWorks.astro';\nimport Testimonials from '../../components/lp/Testimonials.astro';\nimport Comparison from '../../components/lp/Comparison.astro';\nimport Pricing from '../../components/lp/Pricing.astro';\nimport FAQ from '../../components/lp/FAQ.astro';\nimport FinalCTA from '../../components/lp/FinalCTA.astro';\nimport LPFooter from '../../components/lp/LPFooter.astro';\n\nconst lpData = ${JSON.stringify(sections, null, 2)};\n---\n\n<LPLayout title=\"${title}\" description=\"${description}\">\n  <Hero data={lpData.hero} />\n  <ProblemSection data={lpData.problem} />\n  <EmpathySection data={lpData.empathy} />\n  <SolutionSection data={lpData.solution} />\n  <ProductIntro data={lpData.product_intro} />\n  <Benefits data={lpData.benefits} />\n  <HowItWorks data={lpData.how_it_works} />\n  <Testimonials data={lpData.testimonials} />\n  <Comparison data={lpData.comparison} />\n  <Pricing data={lpData.pricing} />\n  <FAQ data={lpData.faq} />\n  <FinalCTA data={lpData.final_cta} />\n  <LPFooter data={lpData.footer} />\n</LPLayout>\n`;\n\nreturn [{ json: { astro_code: astroCode, slug: slug, file_path: 'src/pages/lp/' + slug + '.astro', title: title } }];"
      }
    },
    {
      "id": "lp-12b-growthbook",
      "name": "GrowthBook Feature Flag",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2120, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ab-test-check",
              "leftValue": "={{ $('Parse Payload').first().json.payload.ab_test_variant || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "lp-12c-register-feature",
      "name": "Register GrowthBook Feature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 80],
      "parameters": {
        "method": "POST",
        "url": "={{$env.GROWTHBOOK_API_URL || 'https://api.growthbook.io'}}/api/v1/features",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GROWTHBOOK_API_KEY}}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"lp-{{ $('Parse Payload').first().json.slug }}-variant\",\n  \"description\": \"A/B test variant for LP {{ $('Parse Payload').first().json.slug }}\",\n  \"valueType\": \"string\",\n  \"defaultValue\": \"\\\"control\\\"\",\n  \"tags\": [\"lp\", \"auto-generated\"]\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "lp-13-git-branch",
      "name": "Git Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2230, 160],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git config user.name '37Design Marketing OS' && git config user.email 'os@37d.jp' && git checkout main && git pull origin main && git checkout -b task-{{ $('Parse Payload').first().json.task_id }}-lp-{{ $('Parse Payload').first().json.slug }}\""
      }
    },
    {
      "id": "lp-14-aider-generate",
      "name": "Aider Generate",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2450, 160],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && echo '{{ $('Prepare Astro Code').first().json.astro_code.replace(/'/g, \"'\\\\''\" ) }}' | /home/ken/.local/bin/aider --yes --no-auto-commits --message 'Create LP page at {{ $('Prepare Astro Code').first().json.file_path }} with the following content. Ensure all imported components exist in src/components/lp/ - create stub components if needed.' --file {{ $('Prepare Astro Code').first().json.file_path }}\""
      }
    },
    {
      "id": "lp-15-build-check",
      "name": "Build Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2670, 160],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && npm run build 2>&1\""
      }
    },
    {
      "id": "lp-16-build-ok",
      "name": "Build OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2890, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "build-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "lp-17-fix-build-counter",
      "name": "Fix Build Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3110, 300],
      "parameters": {
        "jsCode": "const buildOutput = $('Build Check').first().json.stdout || $('Build Check').first().json.stderr || '';\nconst currentCount = $input.first()?.json?.fix_build_iteration || 0;\nconst newCount = currentCount + 1;\nreturn [{ json: { fix_build_iteration: newCount, max_reached: newCount >= 3, build_error: buildOutput } }];"
      }
    },
    {
      "id": "lp-18-max-fix-check",
      "name": "Max Fix Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3330, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "max-fix-check",
              "leftValue": "={{ $json.max_reached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "lp-19-fix-build",
      "name": "Fix Build (Aider)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3550, 440],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && /home/ken/.local/bin/aider --yes --no-auto-commits --message 'Fix the following build error:\\n{{ $json.build_error.substring(0, 2000) }}' --file {{ $('Prepare Astro Code').first().json.file_path }}\""
      }
    },
    {
      "id": "lp-20-merge",
      "name": "Merge to Main",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3110, 20],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git add -A && git commit -m 'feat(lp): add {{ $('Parse Payload').first().json.slug }} landing page [task-{{ $('Parse Payload').first().json.task_id }}]' && git checkout main && git merge task-{{ $('Parse Payload').first().json.task_id }}-lp-{{ $('Parse Payload').first().json.slug }} --no-ff -m 'Merge task-{{ $('Parse Payload').first().json.task_id }}-lp-{{ $('Parse Payload').first().json.slug }}'\""
      }
    },
    {
      "id": "lp-21-deploy",
      "name": "Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3330, 20],
      "parameters": {
        "command": "ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && bash deploy.sh 2>&1\""
      }
    },
    {
      "id": "lp-22-update-freshness",
      "name": "Update Freshness",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3550, 20],
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO page_freshness (page_path, last_refreshed, refresh_type, task_id)\nVALUES (\n  '{{ $('Prepare Astro Code').first().json.file_path }}',\n  NOW(),\n  'new_lp',\n  {{ $('Parse Payload').first().json.task_id }}\n)\nON CONFLICT (page_path)\nDO UPDATE SET last_refreshed = NOW(), refresh_type = 'new_lp', task_id = {{ $('Parse Payload').first().json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "lp-23-lock-page",
      "name": "Lock Page",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3770, 20],
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO page_locks (page_path, locked_until, reason, task_id)\nVALUES (\n  '{{ $('Prepare Astro Code').first().json.file_path }}',\n  NOW() + INTERVAL '14 days',\n  'new_lp',\n  {{ $('Parse Payload').first().json.task_id }}\n)\nON CONFLICT (page_path)\nDO UPDATE SET locked_until = NOW() + INTERVAL '14 days', reason = 'new_lp', task_id = {{ $('Parse Payload').first().json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "lp-24-complete-task",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3990, 20],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Parse Payload').first().json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "lp-25-error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3550, 300],
      "parameters": {
        "jsCode": "// This node handles max build fix iterations exceeded or other failures\nconst taskId = $('Parse Payload').first()?.json?.task_id || 'unknown';\nconst slug = $('Parse Payload').first()?.json?.slug || 'unknown';\nconst error = $json.build_error || 'max_fix_iterations_exceeded';\nreturn [{ json: { task_id: taskId, slug: slug, error: error, action: 'fail_and_cleanup' } }];"
      }
    },
    {
      "id": "lp-26-fail-task",
      "name": "Fail Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3770, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE task_queue\nSET status = 'failed',\n    completed_at = NOW(),\n    error_log = '{{ $json.error.substring(0, 500).replace(/'/g, \"''\") }}',\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $json.task_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "lp-27-delete-branch",
      "name": "Delete Branch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3990, 300],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git checkout main && git branch -D task-{{ $json.task_id }}-lp-{{ $json.slug }} 2>/dev/null || true\""
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task": {
      "main": [
        [
          {
            "node": "Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "LP Design (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LP Design (Claude)": {
      "main": [
        [
          {
            "node": "Generate Section Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Section Content (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Quality Gate v0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate v0": {
      "main": [
        [
          {
            "node": "Quality OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality OK?": {
      "main": [
        [
          {
            "node": "Prepare Astro Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Content (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Recheck Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Quality": {
      "main": [
        [
          {
            "node": "Fix OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix OK?": {
      "main": [
        [
          {
            "node": "Prepare Astro Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Astro Code": {
      "main": [
        [
          {
            "node": "GrowthBook Feature Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GrowthBook Feature Flag": {
      "main": [
        [
          {
            "node": "Register GrowthBook Feature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Git Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register GrowthBook Feature": {
      "main": [
        [
          {
            "node": "Git Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Branch": {
      "main": [
        [
          {
            "node": "Aider Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aider Generate": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check": {
      "main": [
        [
          {
            "node": "Build OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OK?": {
      "main": [
        [
          {
            "node": "Merge to Main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Build Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Build Counter": {
      "main": [
        [
          {
            "node": "Max Fix Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Fix Reached?": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Build (Aider)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Build (Aider)": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge to Main": {
      "main": [
        [
          {
            "node": "Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy": {
      "main": [
        [
          {
            "node": "Update Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Freshness": {
      "main": [
        [
          {
            "node": "Lock Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Page": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Fail Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fail Task": {
      "main": [
        [
          {
            "node": "Delete Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}