scripts/n8n-wf12-email-line.json
{
  "name": "WF12 Email/LINE Distribution (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "eml-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "37design-email-line",
      "parameters": {
        "path": "37design-email-line",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "eml-02-get-task",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tq.id, tq.client_id, tq.task_type, tq.content_type, tq.payload, tq.task_key,\n       c.name AS client_name\nFROM task_queue tq\nJOIN clients c ON c.id = tq.client_id\nWHERE tq.id = '{{ $json.body.task_id }}'\n  AND tq.status = 'running';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "eml-03-heartbeat",
      "name": "Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [520, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue SET heartbeat_at = NOW() WHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "eml-04-generate-email",
      "name": "Generate Email Content (Qwen3 30B)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 400],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"あなたはメールマーケティングの専門家です。以下の情報に基づいて、配信メールの件名と本文を作成してください。\\n\\n配信タイプ: {{ $('Get Task Details').first().json.payload.distribution_type || 'newsletter' }}\\nコンテンツURL: {{ $('Get Task Details').first().json.payload.content_url || '' }}\\nトピック: {{ $('Get Task Details').first().json.payload.topic || '' }}\\n概要: {{ $('Get Task Details').first().json.payload.summary || '' }}\\n\\n以下のJSON形式で返してください:\\n{\\n  \\\"subject\\\": \\\"メール件名（30文字以内、開封率を意識）\\\",\\n  \\\"body_html\\\": \\\"HTMLメール本文（CTA含む）\\\",\\n  \\\"body_text\\\": \\\"テキスト版（フォールバック用）\\\"\\n}\\n\\n注意:\\n- 株式会社37Designのメールとして作成\\n- 禁止表現（絶対に、確実に、100%、業界No.1等）は使用しない\\n- CTAは明確に配置\\n- HTMLはインライン style を使用\\n\\nJSONのみを返してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "eml-05-parse-email",
      "name": "Parse Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.response;\n\nlet email;\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  email = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  email = {\n    subject: '37Designからのお知らせ',\n    body_html: '<p>コンテンツの生成に失敗しました。手動で作成してください。</p>',\n    body_text: 'コンテンツの生成に失敗しました。手動で作成してください。'\n  };\n}\n\nreturn [{ json: { email, task: $('Get Task Details').first().json } }];"
      }
    },
    {
      "id": "eml-06-segment-decision",
      "name": "Decide Segment (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"以下のメール配信のターゲットセグメントを決定してください。\\n\\n配信タイプ: {{ $('Get Task Details').first().json.payload.distribution_type || 'newsletter' }}\\nトピック: {{ $('Get Task Details').first().json.payload.topic || '' }}\\nメール件名: {{ $json.email.subject }}\\n\\nMauticの利用可能セグメント:\\n- all_subscribers: 全購読者\\n- web_design_interest: Web制作関心層\\n- marketing_interest: マーケティング関心層\\n- existing_clients: 既存顧客\\n- leads_hot: ホットリード\\n- leads_warm: ウォームリード\\n\\n以下のJSON形式で返してください:\\n{\\\"segment_alias\\\": \\\"セグメントエイリアス\\\", \\\"reason\\\": \\\"選択理由\\\"}\\n\\nJSONのみを返してください。\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "eml-07-parse-segment",
      "name": "Parse Segment Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text;\n\nlet segment;\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  segment = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  segment = { segment_alias: 'all_subscribers', reason: 'fallback' };\n}\n\nconst email = $('Parse Email Content').first().json.email;\nconst task = $('Get Task Details').first().json;\n\nreturn [{ json: { email, segment, task } }];"
      }
    },
    {
      "id": "eml-08-create-email",
      "name": "Mautic: Create Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 400],
      "parameters": {
        "method": "POST",
        "url": "https://m6.37d.jp/api/emails/new",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MAUTIC_API_TOKEN }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"[Auto] {{ $json.email.subject }}\",\n  \"subject\": \"{{ $json.email.subject }}\",\n  \"customHtml\": {{ JSON.stringify($json.email.body_html) }},\n  \"plainText\": {{ JSON.stringify($json.email.body_text) }},\n  \"emailType\": \"list\",\n  \"isPublished\": false,\n  \"fromName\": \"37Design\",\n  \"fromAddress\": \"info@37design.co.jp\",\n  \"replyToAddress\": \"info@37design.co.jp\"\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "eml-09-get-segment",
      "name": "Mautic: Get Segment ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 400],
      "parameters": {
        "method": "GET",
        "url": "=https://m6.37d.jp/api/segments?search={{ $('Parse Segment Decision').first().json.segment.segment_alias }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MAUTIC_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "eml-10-parse-segment-id",
      "name": "Extract Segment ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2340, 400],
      "parameters": {
        "jsCode": "const segments = $input.first().json;\nconst lists = segments.lists || {};\nconst segmentIds = Object.keys(lists);\nconst segmentId = segmentIds.length > 0 ? segmentIds[0] : null;\nconst emailId = $('Mautic: Create Email').first().json.email ? $('Mautic: Create Email').first().json.email.id : null;\n\nreturn [{ json: { segment_id: segmentId, email_id: emailId } }];"
      }
    },
    {
      "id": "eml-11-add-segment",
      "name": "Mautic: Add Segment to Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 400],
      "parameters": {
        "method": "POST",
        "url": "=https://m6.37d.jp/api/emails/{{ $json.email_id }}/contact/{{ $json.segment_id }}/add",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MAUTIC_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "eml-12-schedule-send",
      "name": "Mautic: Schedule Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 400],
      "parameters": {
        "method": "PATCH",
        "url": "=https://m6.37d.jp/api/emails/{{ $('Extract Segment ID').first().json.email_id }}/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.MAUTIC_API_TOKEN }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"isPublished\": true,\n  \"publishUp\": \"{{ new Date(Date.now() + 3600000).toISOString() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "eml-13-log-distribution",
      "name": "Log Distribution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3120, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_distributions (task_id, email_id, segment_alias, subject, scheduled_at, created_at)\nVALUES (\n  {{ $('Get Task Details').first().json.id }},\n  {{ $('Extract Segment ID').first().json.email_id }},\n  '{{ $('Parse Segment Decision').first().json.segment.segment_alias }}',\n  '{{ $('Parse Email Content').first().json.email.subject.replace(/'/g, \"''\") }}',\n  NOW() + INTERVAL '1 hour',\n  NOW()\n);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "eml-14-complete",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3380, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    result = '{{ JSON.stringify({ email_id: $('Extract Segment ID').first().json.email_id, segment: $('Parse Segment Decision').first().json.segment.segment_alias }) }}',\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Task Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Details": {
      "main": [
        [
          {
            "node": "Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat": {
      "main": [
        [
          {
            "node": "Generate Email Content (Qwen3 30B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Content (Qwen3 30B)": {
      "main": [
        [
          {
            "node": "Parse Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Content": {
      "main": [
        [
          {
            "node": "Decide Segment (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Segment (Claude)": {
      "main": [
        [
          {
            "node": "Parse Segment Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Segment Decision": {
      "main": [
        [
          {
            "node": "Mautic: Create Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic: Create Email": {
      "main": [
        [
          {
            "node": "Mautic: Get Segment ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic: Get Segment ID": {
      "main": [
        [
          {
            "node": "Extract Segment ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Segment ID": {
      "main": [
        [
          {
            "node": "Mautic: Add Segment to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic: Add Segment to Email": {
      "main": [
        [
          {
            "node": "Mautic: Schedule Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mautic: Schedule Send": {
      "main": [
        [
          {
            "node": "Log Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Distribution": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}