scripts/n8n-wf10-image-generate.json
{
  "name": "WF10 Image Generate (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "img-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "37design-image-generate",
      "parameters": {
        "path": "37design-image-generate",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "img-02-get-task",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tq.id, tq.client_id, tq.task_type, tq.content_type, tq.payload, tq.task_key,\n       c.name AS client_name\nFROM task_queue tq\nJOIN clients c ON c.id = tq.client_id\nWHERE tq.id = '{{ $json.body.task_id }}'\n  AND tq.status = 'running';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "img-03-heartbeat",
      "name": "Heartbeat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [520, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue SET heartbeat_at = NOW() WHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "img-04-generate-prompt",
      "name": "Generate Image Prompt (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"あなたは画像生成プロンプトの専門家です。以下のコンテンツ情報に基づいて、Stable Diffusionで使用する画像生成プロンプトを英語で作成してください。\\n\\nコンテンツ情報:\\n{{ JSON.stringify($('Get Task Details').first().json.payload) }}\\n\\n以下のJSON形式で返してください:\\n{\\\"prompt\\\": \\\"...\\\", \\\"negative_prompt\\\": \\\"...\\\", \\\"style\\\": \\\"professional, corporate, japanese web design\\\"}\\n\\nプロンプトはビジネス向けのプロフェッショナルな画像を想定してください。\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "img-05-parse-prompt",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text;\n\n// Try to parse JSON from response\nlet parsed;\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  parsed = { prompt: text, negative_prompt: 'blurry, low quality, text, watermark', style: 'professional' };\n}\n\nconst task = $('Get Task Details').first().json;\nconst filename = `img-${task.id}-${Date.now()}.png`;\n\nreturn [{ json: { ...parsed, task_id: task.id, filename, payload: task.payload } }];"
      }
    },
    {
      "id": "img-06-comfyui-request",
      "name": "ComfyUI Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {\n    \"3\": {\n      \"class_type\": \"KSampler\",\n      \"inputs\": {\n        \"seed\": {{ Math.floor(Math.random() * 1000000) }},\n        \"steps\": 20,\n        \"cfg\": 7,\n        \"sampler_name\": \"euler\",\n        \"scheduler\": \"normal\",\n        \"denoise\": 1,\n        \"model\": [\"4\", 0],\n        \"positive\": [\"6\", 0],\n        \"negative\": [\"7\", 0],\n        \"latent_image\": [\"5\", 0]\n      }\n    },\n    \"4\": {\n      \"class_type\": \"CheckpointLoaderSimple\",\n      \"inputs\": {\n        \"ckpt_name\": \"CONFIGURE_ME.safetensors\"\n      }\n    },\n    \"5\": {\n      \"class_type\": \"EmptyLatentImage\",\n      \"inputs\": {\n        \"width\": 1200,\n        \"height\": 630,\n        \"batch_size\": 1\n      }\n    },\n    \"6\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": \"{{ $json.prompt }}, {{ $json.style }}\",\n        \"clip\": [\"4\", 1]\n      }\n    },\n    \"7\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": \"{{ $json.negative_prompt }}\",\n        \"clip\": [\"4\", 1]\n      }\n    },\n    \"9\": {\n      \"class_type\": \"SaveImage\",\n      \"inputs\": {\n        \"filename_prefix\": \"n8n-{{ $json.filename.replace('.png', '') }}\",\n        \"images\": [\"8\", 0]\n      }\n    },\n    \"8\": {\n      \"class_type\": \"VAEDecode\",\n      \"inputs\": {\n        \"samples\": [\"3\", 0],\n        \"vae\": [\"4\", 2]\n      }\n    }\n  }\n}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "img-07-wait-completion",
      "name": "Wait for Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 400],
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      }
    },
    {
      "id": "img-08-check-status",
      "name": "Check ComfyUI Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 400],
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8188/history/{{ $('ComfyUI Generate Image').first().json.prompt_id }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "img-09-generate-alt",
      "name": "Generate Alt Text (Qwen3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 400],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:8b\",\n  \"prompt\": \"以下の画像生成プロンプトから、日本語のalt属性テキストを生成してください。SEOに適した簡潔な説明文にしてください。\\n\\nプロンプト: {{ $('Parse Claude Response').first().json.prompt }}\\n\\nalt属性テキストのみを返してください。\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "img-10-parse-alt",
      "name": "Parse Alt Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2340, 400],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst altText = response.response.replace(/^\\s+|\\s+$/g, '').replace(/\"/g, '&quot;');\nconst filename = $('Parse Claude Response').first().json.filename;\nreturn [{ json: { alt_text: altText, filename } }];"
      }
    },
    {
      "id": "img-11-place-file",
      "name": "Place Image File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 3.1,
      "position": [2600, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cp ~/comfyui/output/n8n-{{ $('Parse Claude Response').first().json.filename.replace('.png', '') }}* ~/37design-astro-site/public/images/{{ $('Parse Claude Response').first().json.filename }}\""
      }
    },
    {
      "id": "img-12-heartbeat2",
      "name": "Heartbeat 2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2860, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue SET heartbeat_at = NOW() WHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "img-13-aider-update",
      "name": "Update Page with Image (Aider)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 3.1,
      "position": [3120, 400],
      "parameters": {
        "command": "=ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && /home/ken/.local/bin/aider --yes-always --no-git --message 'ページファイル {{ $('Get Task Details').first().json.payload.target_file }} に画像 /images/{{ $('Parse Claude Response').first().json.filename }} を追加してください。alt属性: {{ $('Parse Alt Text').first().json.alt_text }}' {{ $('Get Task Details').first().json.payload.target_file }}\""
      }
    },
    {
      "id": "img-14-build-check",
      "name": "Build Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 3.1,
      "position": [3380, 400],
      "parameters": {
        "command": "ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && npm run build 2>&1 | tail -20\""
      }
    },
    {
      "id": "img-15-build-ok",
      "name": "Build OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3640, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "build-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "img-16-deploy",
      "name": "Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 3.1,
      "position": [3900, 340],
      "parameters": {
        "command": "ssh -i /home/node/.n8n/n8n_host_key -o StrictHostKeyChecking=no ken@host.docker.internal \"cd ~/37design-astro-site && git add -A && git commit -m 'WF10: Add generated image {{ $('Parse Claude Response').first().json.filename }}' && git push origin main\""
      }
    },
    {
      "id": "img-17-complete",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4160, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    result = '{{ JSON.stringify({ filename: $('Parse Claude Response').first().json.filename, alt_text: $('Parse Alt Text').first().json.alt_text }) }}',\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "img-18-build-fail",
      "name": "Log Build Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3900, 520],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'failed',\n    completed_at = NOW(),\n    result = '{\"error\": \"build_failed\"}',\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Get Task Details').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Task Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Details": {
      "main": [
        [
          {
            "node": "Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat": {
      "main": [
        [
          {
            "node": "Generate Image Prompt (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt (Claude)": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "ComfyUI Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI Generate Image": {
      "main": [
        [
          {
            "node": "Wait for Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Generation": {
      "main": [
        [
          {
            "node": "Check ComfyUI Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ComfyUI Status": {
      "main": [
        [
          {
            "node": "Generate Alt Text (Qwen3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Alt Text (Qwen3)": {
      "main": [
        [
          {
            "node": "Parse Alt Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alt Text": {
      "main": [
        [
          {
            "node": "Place Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place Image File": {
      "main": [
        [
          {
            "node": "Heartbeat 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat 2": {
      "main": [
        [
          {
            "node": "Update Page with Image (Aider)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Page with Image (Aider)": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check": {
      "main": [
        [
          {
            "node": "Build OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OK?": {
      "main": [
        [
          {
            "node": "Deploy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Build Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}