scripts/n8n-wf13-competitor-monitor.json
{
  "name": "WF13 Competitor Monitor (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "cmp-01-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "cmp-02-get-competitors",
      "name": "Get Competitor URLs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cp.id, cp.competitor_name, cp.sitemap_url, cp.domain, cp.last_scanned_at,\n       c.id AS client_id, c.name AS client_name\nFROM competitor_pages cp\nJOIN clients c ON c.id = cp.client_id\nWHERE c.active = true\nORDER BY cp.competitor_name;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "cmp-03-has-competitors",
      "name": "Has Competitors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-competitors-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cmp-04-no-competitors",
      "name": "No Competitors Configured",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 560],
      "parameters": {
        "jsCode": "return [{ json: { message: 'No competitor URLs configured. Add entries to competitor_pages table.' } }];"
      }
    },
    {
      "id": "cmp-05-loop",
      "name": "Loop Over Competitors",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [780, 400],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "cmp-06-fetch-sitemap",
      "name": "Fetch Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sitemap_url }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "cmp-07-parse-sitemap",
      "name": "Parse Sitemap XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400],
      "parameters": {
        "jsCode": "const xml = $input.first().json.data || $input.first().json.body || '';\nconst competitor = $('Loop Over Competitors').first().json;\n\n// Parse URLs and lastmod from sitemap XML\nconst urlPattern = /<url>\\s*<loc>([^<]+)<\\/loc>(?:\\s*<lastmod>([^<]+)<\\/lastmod>)?/g;\nconst pages = [];\nlet match;\n\nwhile ((match = urlPattern.exec(xml)) !== null) {\n  pages.push({\n    url: match[1],\n    lastmod: match[2] || null\n  });\n}\n\nreturn [{ json: {\n  competitor_id: competitor.id,\n  competitor_name: competitor.competitor_name,\n  domain: competitor.domain,\n  client_id: competitor.client_id,\n  pages,\n  page_count: pages.length\n} }];"
      }
    },
    {
      "id": "cmp-08-get-previous",
      "name": "Get Previous Scan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url, lastmod, page_hash\nFROM competitor_page_snapshots\nWHERE competitor_id = {{ $json.competitor_id }}\nORDER BY url;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "cmp-09-compare",
      "name": "Compare Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 400],
      "parameters": {
        "jsCode": "const currentPages = $('Parse Sitemap XML').first().json.pages;\nconst previousRows = $input.all().map(item => item.json);\nconst competitor = $('Parse Sitemap XML').first().json;\n\n// Build lookup from previous scan\nconst prevMap = {};\nfor (const row of previousRows) {\n  if (row.url) prevMap[row.url] = row;\n}\n\nconst currentUrls = new Set(currentPages.map(p => p.url));\nconst prevUrls = new Set(Object.keys(prevMap));\n\n// New pages\nconst newPages = currentPages.filter(p => !prevUrls.has(p.url));\n\n// Removed pages\nconst removedUrls = [...prevUrls].filter(u => !currentUrls.has(u));\n\n// Updated pages (lastmod changed)\nconst updatedPages = currentPages.filter(p => {\n  const prev = prevMap[p.url];\n  return prev && p.lastmod && prev.lastmod && p.lastmod !== prev.lastmod;\n});\n\nconst hasChanges = newPages.length > 0 || removedUrls.length > 0 || updatedPages.length > 0;\n\nreturn [{ json: {\n  competitor_id: competitor.competitor_id,\n  competitor_name: competitor.competitor_name,\n  domain: competitor.domain,\n  client_id: competitor.client_id,\n  total_pages: currentPages.length,\n  new_pages: newPages,\n  removed_urls: removedUrls,\n  updated_pages: updatedPages,\n  has_changes: hasChanges,\n  all_current_pages: currentPages\n} }];"
      }
    },
    {
      "id": "cmp-10-has-changes",
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2080, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "changes-check",
              "leftValue": "={{ $json.has_changes }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cmp-11-analyze",
      "name": "Analyze Changes (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 340],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"あなたはSEO競合分析の専門家です。以下の競合サイトの変更を分析し、37Designのマーケティング戦略への影響を評価してください。\\n\\n競合: {{ $json.competitor_name }} ({{ $json.domain }})\\n\\n新規ページ ({{ $json.new_pages.length }}件):\\n{{ JSON.stringify($json.new_pages.slice(0, 20)) }}\\n\\n更新ページ ({{ $json.updated_pages.length }}件):\\n{{ JSON.stringify($json.updated_pages.slice(0, 20)) }}\\n\\n削除ページ ({{ $json.removed_urls.length }}件):\\n{{ JSON.stringify($json.removed_urls.slice(0, 20)) }}\\n\\n以下のJSON形式で返してください:\\n{\\n  \\\"summary\\\": \\\"変更の概要（日本語）\\\",\\n  \\\"impact_level\\\": \\\"high|medium|low\\\",\\n  \\\"recommended_actions\\\": [\\n    {\\\"action\\\": \\\"具体的なアクション\\\", \\\"task_type\\\": \\\"blog_generate|improve|page_generate\\\", \\\"priority\\\": 1-5}\\n  ],\\n  \\\"seo_implications\\\": \\\"SEOへの影響分析\\\"\\n}\\n\\nJSONのみを返してください。\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "cmp-12-parse-analysis",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 340],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content[0].text;\n\nlet analysis;\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  analysis = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  analysis = {\n    summary: 'Analysis parsing failed',\n    impact_level: 'low',\n    recommended_actions: [],\n    seo_implications: 'Unable to analyze'\n  };\n}\n\nconst changes = $('Compare Changes').first().json;\nreturn [{ json: { analysis, changes } }];"
      }
    },
    {
      "id": "cmp-13-create-tasks",
      "name": "Generate Response Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 340],
      "parameters": {
        "jsCode": "const { analysis, changes } = $input.first().json;\nconst tasks = [];\n\nif (analysis.recommended_actions && analysis.recommended_actions.length > 0) {\n  for (const action of analysis.recommended_actions) {\n    tasks.push({\n      client_id: changes.client_id,\n      task_type: action.task_type || 'blog_generate',\n      content_type: 'competitor_response',\n      priority: action.priority || 3,\n      payload: JSON.stringify({\n        source: 'competitor_monitor',\n        competitor: changes.competitor_name,\n        action: action.action,\n        impact_level: analysis.impact_level\n      }),\n      task_key: `competitor_${changes.competitor_id}_${Date.now()}_${tasks.length}`\n    });\n  }\n}\n\nreturn tasks.length > 0\n  ? tasks.map(t => ({ json: t }))\n  : [{ json: { skip: true, message: 'No response tasks needed' } }];"
      }
    },
    {
      "id": "cmp-14-has-tasks",
      "name": "Has Tasks to Insert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3120, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-tasks-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "cmp-15-insert-tasks",
      "name": "Insert Response Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3380, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_queue (client_id, task_type, content_type, priority, payload, task_key, status, created_at)\nVALUES (\n  '{{ $json.client_id }}',\n  '{{ $json.task_type }}',\n  '{{ $json.content_type }}',\n  {{ $json.priority }},\n  '{{ $json.payload.replace(/'/g, \"''\") }}',\n  '{{ $json.task_key }}',\n  'pending',\n  NOW()\n)\nON CONFLICT (task_key) DO NOTHING;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "cmp-16-update-snapshots",
      "name": "Update Snapshots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 480],
      "parameters": {
        "jsCode": "// This runs regardless of whether tasks were inserted\nconst changes = $('Compare Changes').first().json;\nconst pages = changes.all_current_pages;\n\n// Build batch upsert values\nconst values = pages.map(p => {\n  const url = p.url.replace(/'/g, \"''\");\n  const lastmod = p.lastmod ? `'${p.lastmod}'` : 'NULL';\n  return `(${changes.competitor_id}, '${url}', ${lastmod}, NOW())`;\n}).join(',\\n');\n\nreturn [{ json: {\n  competitor_id: changes.competitor_id,\n  upsert_query: values ? `DELETE FROM competitor_page_snapshots WHERE competitor_id = ${changes.competitor_id}; INSERT INTO competitor_page_snapshots (competitor_id, url, lastmod, scanned_at) VALUES ${values};` : 'SELECT 1;'\n} }];"
      }
    },
    {
      "id": "cmp-17-save-snapshots",
      "name": "Save Snapshots",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3640, 480],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.upsert_query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "cmp-18-update-scan-time",
      "name": "Update Last Scanned",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3900, 480],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE competitor_pages SET last_scanned_at = NOW() WHERE id = {{ $('Compare Changes').first().json.competitor_id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "cmp-19-back-to-loop",
      "name": "Next Competitor",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4160, 400],
      "parameters": {}
    },
    {
      "id": "cmp-20-no-changes",
      "name": "No Changes Detected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2340, 520],
      "parameters": {
        "jsCode": "const competitor = $('Compare Changes').first().json;\nreturn [{ json: {\n  message: `No changes detected for ${competitor.competitor_name}`,\n  competitor_id: competitor.competitor_id\n} }];"
      }
    },
    {
      "id": "cmp-21-collect-results",
      "name": "Collect All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 400],
      "parameters": {
        "jsCode": "// This runs after the loop completes\nreturn [{ json: { message: 'Competitor monitoring cycle complete', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "cmp-22-slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4680, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":mag: *競合モニタリング完了*\\n実行日時: {{ new Date().toISOString() }}\\n\\n詳細はn8nの実行ログを確認してください。\"\n}",
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Competitor URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Competitor URLs": {
      "main": [
        [
          {
            "node": "Has Competitors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Competitors?": {
      "main": [
        [
          {
            "node": "Loop Over Competitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Competitors Configured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Competitors": {
      "main": [
        [
          {
            "node": "Collect All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sitemap": {
      "main": [
        [
          {
            "node": "Parse Sitemap XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sitemap XML": {
      "main": [
        [
          {
            "node": "Get Previous Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Scan": {
      "main": [
        [
          {
            "node": "Compare Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Changes": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Analyze Changes (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Changes (Claude)": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Generate Response Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response Tasks": {
      "main": [
        [
          {
            "node": "Has Tasks to Insert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tasks to Insert?": {
      "main": [
        [
          {
            "node": "Insert Response Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Response Tasks": {
      "main": [
        [
          {
            "node": "Update Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Changes Detected": {
      "main": [
        [
          {
            "node": "Update Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Snapshots": {
      "main": [
        [
          {
            "node": "Save Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Snapshots": {
      "main": [
        [
          {
            "node": "Update Last Scanned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Scanned": {
      "main": [
        [
          {
            "node": "Next Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Competitor": {
      "main": [
        [
          {
            "node": "Loop Over Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Results": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}