scripts/n8n-wf-daily-loop.json
{
  "name": "Daily Loop (37Design)",
  "active": true,
  "versionId": "2",
  "nodes": [
    {
      "id": "loop-01-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "loop-02-run",
      "name": "Run Daily Loop",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 300],
      "parameters": {
        "command": "cd /home/ken/37design-astro-site && git pull origin main -q 2>/dev/null && bash scripts/daily-loop.sh 2>&1"
      }
    },
    {
      "id": "loop-03-summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const out = $('Run Daily Loop').first().json.stdout || '';\nconst stderr = $('Run Daily Loop').first().json.stderr || '';\nconst exitCode = $('Run Daily Loop').first().json.exitCode;\nconst allOk = exitCode === 0;\n\nconst now = new Date();\nconst lines = out.split('\\n').filter(l => l.trim());\nconst taskLines = lines.filter(l => l.includes('タスク') || l.includes('完了') || l.includes('ERROR') || l.includes('スキップ'));\n\nreturn [{ json: {\n  date: now.toLocaleString('ja-JP', { timeZone: 'Asia/Tokyo' }),\n  status: allOk ? 'success' : 'error',\n  started_at: $('Schedule').first().json.timestamp || now.toISOString(),\n  finished_at: now.toISOString(),\n  steps: taskLines.slice(0, 10).map(l => ({\n    name: l.replace(/^\\[.*?\\]\\s*/, '').substring(0, 60),\n    success: !l.toLowerCase().includes('error') && !l.toLowerCase().includes('fail'),\n    output: l.substring(0, 200)\n  })),\n  error: allOk ? null : (stderr || out).substring(0, 300)\n} }];"
      }
    },
    {
      "id": "loop-04-post-log",
      "name": "POST Daily Loop Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "parameters": {
        "method": "POST",
        "url": "https://n8n-onprem.37d.jp/webhook/37design-daily-loop-log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule": {
      "main": [[{ "node": "Run Daily Loop", "type": "main", "index": 0 }]]
    },
    "Run Daily Loop": {
      "main": [[{ "node": "Summary", "type": "main", "index": 0 }]]
    },
    "Summary": {
      "main": [[{ "node": "POST Daily Loop Log", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
