scripts/n8n-wf03-decision.json
{
  "name": "WF03 Decision / Task Router (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "dec-01-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "37design-decision",
      "parameters": {
        "path": "37design-decision",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "dec-02-get-clients",
      "name": "Get Clients with Pending Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [260, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT c.id, c.name, c.last_processed_at\nFROM clients c\nWHERE c.active = true\n  AND EXISTS (\n    SELECT 1 FROM task_queue tq\n    WHERE tq.client_id = c.id AND tq.status = 'pending'\n  )\nORDER BY c.last_processed_at ASC\nLIMIT 1;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-03-has-pending",
      "name": "Has Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pending-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dec-04-acquire-task",
      "name": "Acquire Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [780, 340],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'running', started_at = NOW(), heartbeat_at = NOW()\nWHERE id = (\n  SELECT id FROM task_queue\n  WHERE client_id = '{{ $('Get Clients with Pending Tasks').first().json.id }}'\n    AND status = 'pending'\n  ORDER BY priority ASC, created_at ASC\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n)\nRETURNING id, client_id, task_type, content_type, priority, payload, task_key;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-05-task-acquired",
      "name": "Task Acquired?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1040, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "task-acquired-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dec-06-check-daily-limit",
      "name": "Check Daily Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT max_per_day - current_today as remaining\nFROM daily_limits\nWHERE client_id = '{{ $('Acquire Task').first().json.client_id }}'\n  AND action_category = CASE\n    WHEN '{{ $('Acquire Task').first().json.task_type }}' LIKE '%generate%' THEN 'generate'\n    WHEN '{{ $('Acquire Task').first().json.task_type }}' LIKE '%improve%' OR '{{ $('Acquire Task').first().json.task_type }}' LIKE '%rewrite%' THEN 'improve'\n    WHEN '{{ $('Acquire Task').first().json.task_type }}' LIKE 'ab_test%' THEN 'ab_test'\n    ELSE 'improve'\n  END;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-07-limit-ok",
      "name": "Limit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 280],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "limit-check",
              "leftValue": "={{ $json.remaining }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dec-08-revert-pending",
      "name": "Revert to Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1820, 460],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue SET status = 'pending', started_at = NULL, heartbeat_at = NULL\nWHERE id = {{ $('Acquire Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-09-route-switch",
      "name": "Route by Task Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1820, 200],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Acquire Task').first().json.task_type }}",
                    "rightValue": "blog_generate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Blog Generate"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Acquire Task').first().json.task_type }}",
                    "rightValue": "page_generate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Page Generate"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Acquire Task').first().json.task_type }}",
                    "rightValue": "lp_generate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "LP Generate"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Acquire Task').first().json.task_type }}",
                    "rightValue": "improve",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Improve"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('Acquire Task').first().json.task_type }}",
                    "rightValue": "ab_test",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "AB Test"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "dec-10-log-blog",
      "name": "Log: Blog Generate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, -20],
      "parameters": {
        "jsCode": "const task = $('Acquire Task').first().json;\nconsole.log('Routing to WF④ Blog Generate:', JSON.stringify(task));\nreturn [{ json: { routed_to: 'wf04_blog_generate', task_id: task.id, task } }];"
      }
    },
    {
      "id": "dec-11-log-page",
      "name": "Log: Page Generate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 100],
      "parameters": {
        "jsCode": "const task = $('Acquire Task').first().json;\nreturn [{ json: { routed_to: 'wf05_page_generate', task_id: task.id, task } }];"
      }
    },
    {
      "id": "dec-12-log-lp",
      "name": "Log: LP Generate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 220],
      "parameters": {
        "jsCode": "const task = $('Acquire Task').first().json;\nreturn [{ json: { routed_to: 'wf06_lp_generate', task_id: task.id, task } }];"
      }
    },
    {
      "id": "dec-13-log-improve",
      "name": "Log: Improve",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 340],
      "parameters": {
        "jsCode": "const task = $('Acquire Task').first().json;\nreturn [{ json: { routed_to: 'wf07_improve', task_id: task.id, task } }];"
      }
    },
    {
      "id": "dec-14-log-ab-test",
      "name": "Log: AB Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 460],
      "parameters": {
        "jsCode": "const task = $('Acquire Task').first().json;\nreturn [{ json: { routed_to: 'wf08_ab_test', task_id: task.id, task } }];"
      }
    },
    {
      "id": "dec-15-log-unknown",
      "name": "Log: Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 580],
      "parameters": {
        "jsCode": "const task = $('Acquire Task').first().json;\nreturn [{ json: { routed_to: 'unknown', task_id: task.id, error: 'Unknown task type: ' + task.task_type } }];"
      }
    },
    {
      "id": "dec-16-complete-task",
      "name": "Complete Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2400, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = 'done',\n    completed_at = NOW(),\n    execution_seconds = EXTRACT(EPOCH FROM (NOW() - started_at))::int\nWHERE id = {{ $('Acquire Task').first().json.id }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-17-update-limits",
      "name": "Update Daily Limits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2660, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE daily_limits\nSET current_today = current_today + 1\nWHERE client_id = '{{ $('Acquire Task').first().json.client_id }}'\n  AND action_category = CASE\n    WHEN '{{ $('Acquire Task').first().json.task_type }}' LIKE '%generate%' THEN 'generate'\n    WHEN '{{ $('Acquire Task').first().json.task_type }}' LIKE '%improve%' OR '{{ $('Acquire Task').first().json.task_type }}' LIKE '%rewrite%' THEN 'improve'\n    WHEN '{{ $('Acquire Task').first().json.task_type }}' LIKE 'ab_test%' THEN 'ab_test'\n    ELSE 'improve'\n  END\n  AND current_today < max_per_day;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-18-delete-key",
      "name": "Delete Task Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2920, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM active_task_keys WHERE task_key = '{{ $('Acquire Task').first().json.task_key }}';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-19-update-client",
      "name": "Update Client Timestamp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3180, 280],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE clients SET last_processed_at = NOW() WHERE id = '{{ $('Acquire Task').first().json.client_id }}';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dec-20-retrigger",
      "name": "Re-trigger Self",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3440, 280],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/37design-decision",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "trigger",
              "value": "loop_continue"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "dec-21-no-pending",
      "name": "No Pending Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 560],
      "parameters": {
        "jsCode": "return [{ json: { message: 'No pending tasks. Pipeline idle until next data collection cycle.' } }];"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Clients with Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clients with Pending Tasks": {
      "main": [
        [
          {
            "node": "Has Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending?": {
      "main": [
        [
          {
            "node": "Acquire Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Task": {
      "main": [
        [
          {
            "node": "Task Acquired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Acquired?": {
      "main": [
        [
          {
            "node": "Check Daily Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily Limit": {
      "main": [
        [
          {
            "node": "Limit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit OK?": {
      "main": [
        [
          {
            "node": "Route by Task Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revert to Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revert to Pending": {
      "main": [
        [
          {
            "node": "No Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Task Type": {
      "main": [
        [
          {
            "node": "Log: Blog Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Page Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: LP Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Improve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: AB Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Blog Generate": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Page Generate": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: LP Generate": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Improve": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: AB Test": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Unknown": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Task": {
      "main": [
        [
          {
            "node": "Update Daily Limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Daily Limits": {
      "main": [
        [
          {
            "node": "Delete Task Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Task Key": {
      "main": [
        [
          {
            "node": "Update Client Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client Timestamp": {
      "main": [
        [
          {
            "node": "Re-trigger Self",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}