scripts/n8n-wf01-data-collection.json
{
  "name": "WF01 Data Collection (37Design Marketing OS)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "id": "dc-01-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "dc-02-reset-limits",
      "name": "Clean: Reset daily_limits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE daily_limits SET current_today = 0, reset_at = CURRENT_DATE WHERE reset_at < CURRENT_DATE;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-03-orphan-tasks",
      "name": "Clean: Orphan running tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE task_queue\nSET status = CASE WHEN retry_count >= max_retries THEN 'failed' ELSE 'pending' END,\n  retry_count = retry_count + 1,\n  started_at = NULL, assigned_to = NULL, heartbeat_at = NULL\nWHERE status = 'running'\n  AND ((heartbeat_at IS NOT NULL AND heartbeat_at < NOW() - INTERVAL '60 minutes')\n    OR (heartbeat_at IS NULL AND started_at < NOW() - INTERVAL '60 minutes'));",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-04-reserved-keys",
      "name": "Clean: Reserved key leak",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM active_task_keys WHERE status = 'reserved' AND created_at < NOW() - INTERVAL '10 minutes';",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-05-expired-keys",
      "name": "Clean: Expired task keys",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM active_task_keys atk\nWHERE created_at < NOW() - INTERVAL '336 hours'\n  AND NOT EXISTS (\n    SELECT 1 FROM task_queue tq\n    WHERE tq.task_key = atk.task_key AND tq.status IN ('pending', 'running')\n  );",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-06-page-locks",
      "name": "Clean: Expired page locks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM page_locks WHERE lock_until <= NOW();",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-07-freshness-init",
      "name": "Clean: Page freshness init",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'page_freshness_init_placeholder' as status;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-08-failed-tasks",
      "name": "Get Failed Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, client_id, task_type, error_log, created_at\nFROM task_queue\nWHERE status = 'failed' AND completed_at IS NULL\nLIMIT 10;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-09-has-failed",
      "name": "Has Failed Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-rows",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dc-10-log-failed",
      "name": "Log Failed Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 160],
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log('Failed orphan tasks found:', JSON.stringify(items.map(i => i.json)));\nreturn items;"
      }
    },
    {
      "id": "dc-11-active-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2160, 440],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, site_url, ga4_property_id, gsc_site_url, clarity_project_id\nFROM clients WHERE active = true;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-12-kpi-targets",
      "name": "Update KPI Targets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2400, 440],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'kpi_update_placeholder: GA4/GSC credentials needed' as status;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Marketing OS DB"
        }
      }
    },
    {
      "id": "dc-13-trigger-diagnosis",
      "name": "Trigger Rule Diagnosis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 440],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/37design-rule-diagnosis",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "trigger",
              "value": "daily_data_collection"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Clean: Reset daily_limits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean: Reset daily_limits": {
      "main": [
        [
          {
            "node": "Clean: Orphan running tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean: Orphan running tasks": {
      "main": [
        [
          {
            "node": "Clean: Reserved key leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean: Reserved key leak": {
      "main": [
        [
          {
            "node": "Clean: Expired task keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean: Expired task keys": {
      "main": [
        [
          {
            "node": "Clean: Expired page locks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean: Expired page locks": {
      "main": [
        [
          {
            "node": "Clean: Page freshness init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean: Page freshness init": {
      "main": [
        [
          {
            "node": "Get Failed Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failed Tasks": {
      "main": [
        [
          {
            "node": "Has Failed Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Failed Tasks?": {
      "main": [
        [
          {
            "node": "Log Failed Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failed Tasks": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Update KPI Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update KPI Targets": {
      "main": [
        [
          {
            "node": "Trigger Rule Diagnosis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}